﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Work Order Manager";

}
@{
    var usr = (user)ViewData["MyUser"];
}
    <h1 class="page-title">
        EaiwebMVC
        <small><small>@ViewData["Title"]</small></small>
    </h1>


@section scripts {
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcolorpicker.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxeditor.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script> 
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.aggregates.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>
    <script src="~/jqwidgets/jqx-all.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
        $(document).ready(function() {
            // prepare the data

            var sourceCustomer =
            {
                datatype: "json",
                datafields: [
                    { name: 'customerID', type: 'int' },
                    { name: 'customerDescription', type: 'string' }
                ],
                url: '/api/WebApiCustomer'
            };
            var daCustomer = new $.jqx.dataAdapter(sourceCustomer);
            $("#Customer").jqxInput({
                source: daCustomer,
                displayMember: "customerDescription",
                valueMember: "customerID",
                height: 25
            });
            $("#Customer").on('select',
                function(event) {
                    if (event.args) {
                        var item = event.args.item;
                        if (item) {
                            $("#customercode").empty();
                            var valueelement = $("<div></div>");
                            valueelement.text(item.value);
                            $("#customercode").append(valueelement);
                        }
                    }
                    var cod = $("#customercode").text();

                    var sourceWbs =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'ic', type: 'string' },
                            { name: 'wbs', type: 'string' }
                        ],
                        url: '/api/ChkAPIIC/' + cod
                    };
                    var daWbs = new $.jqx.dataAdapter(sourceWbs, { autoBind: true });

                    $("#Wbs").jqxDropDownList(
                        {
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daWbs,
                            displayMember: "wbs",
                            valueMember: "wbs",
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });

                    $('#Wbs').on('select',
                        function(event) {
                            var args = event.args;
                            var item = $('#Wbs').jqxDropDownList('getItem', args.index);

                            $("#IC").jqxDropDownList({ source: sourceIc });

                            var sourceIc =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'ic', type: 'string' },
                                    { name: 'wbs', type: 'string' }
                                ],
                                url: '/api/WebApiGetICWBS/' + item.value
                            };
                            var daIc = new $.jqx.dataAdapter(sourceIc, { autoBind: true });

                            $("#IC").jqxDropDownList(
                                {
                                    selectedIndex: -1,
                                    source: daIc,
                                    displayMember: "ic",
                                    valueMember: "ic",
                                    height: 25,
                                    theme: 'summer'
                                });

                            $('#IC').on('select',
                                function(event) {
                                    var args = event.args;
                                    if (args) {
                                        var item = args.item;
                                        $("#iccode").empty();
                                        var valueelement = $("<div></div>");
                                        valueelement.text(item.value);
                                        $("#iccode").append(valueelement);


                                        var source =
                                        {
                                            datafields: [
                                                { name: 'woid', type: 'int' },
                                                { name: 'woElement', type: 'string' },
                                                { name: 'wotid', type: 'int' },
                                                { name: 'woType', type: 'string' },
                                                { name: 'wosid', type: 'int' },
                                                { name: 'woStateDescription', type: 'string' },
                                                { name: 'wocid', type: 'int' },
                                                { name: 'woCustomer', type: 'string' },
                                                { name: 'createdBy', type: 'string' },
                                                { name: 'createdDate', type: 'date' },
                                                { name: 'workmanID', type: 'int' },
                                                { name: 'assignedTo', type: 'string' },
                                                { name: 'scheduledDate', type: 'date' },
                                                { name: 'executionDate', type: 'date' },
                                                { name: 'reasonCode', type: 'int' },
                                                { name: 'reasonText', type: 'string' },
                                                { name: 'wbs', type: 'string' },
                                                { name: 'ic', type: 'string' },
                                                { name: 'customerOrder', type: 'string' },
                                                { name: 'hoursTravelling', type: 'string' },
                                                { name: 'hoursWorkman', type: 'string' }
                                            ],
                                            id: 'woid',
                                            datatype: "json",
                                            async: false,
                                            url: '/api/WebApiGetWorkOrder4Invoice/' + item.label
                                        };
                                        var dataAdapter = new $.jqx.dataAdapter(source);
                                        var activitySource =
                                        {
                                            datafields: [
                                                { name: 'woid', type: 'int' },
                                                { name: 'workOrderDetails', type: 'string' },
                                                { name: 'materialsCode', type: 'string' },
                                                { name: 'materialsDescription', type: 'string' },
                                                { name: 'qty', type: 'int' },
                                                { name: 'price', type: 'string' }
                                            ],
                                            datatype: "json",
                                            url: '/api/WebApiGetWorkOrderdetails',
                                            async: false
                                        };
                                        var daActivity = new $.jqx.dataAdapter(activitySource, { autoBind: true });
                                        var activity = daActivity.records;
                                        var nestedGrids = new Array();
                                        // create nested grid.
                                        var initrowdetails = function(index, parentElement, gridElement, record) {
                                            var id = record.uid.toString();
                                            var grid = $($(parentElement).children()[0]);
                                            //nestedGrids.push(grid);
                                            nestedGrids[index] = grid;
                                            var filtergroup = new $.jqx.filter();
                                            var filter_or_operator = 1;
                                            var filtervalue = id;
                                            var filtercondition = 'equal';
                                            var filter = filtergroup.createfilter('stringfilter',
                                                filtervalue,
                                                filtercondition);
                                            // fill the orders depending on the id.
                                            var activitybyid = [];
                                            for (var m = 0; m < activity.length; m++) {
                                                var result = filter.evaluate(activity[m]["woid"]);
                                                if (result)
                                                    activitybyid.push(activity[m]);
                                            }
                                            var activitySource =
                                            {
                                                datafields: [
                                                    { name: 'woid', type: 'int' },
                                                    { name: 'workOrderDetails', type: 'string' },
                                                    { name: 'materialsCode', type: 'string' },
                                                    { name: 'materialsDescription', type: 'string' },
                                                    { name: 'qty', type: 'int' },
                                                    { name: 'price', type: 'float' }
                                                ],

                                                id: 'woid',
                                                localdata: activitybyid
                                            };

                                            var nestedGridAdapter = new $.jqx.dataAdapter(activitySource);
                                            if (grid != null) {
                                                grid.jqxGrid({
                                                    source: nestedGridAdapter,
                                                    showstatusbar: true,
                                                    width: '98%',
                                                    autoheight: true,
                                                    keyboardnavigation: false,
                                                    showeverpresentrow: true,
                                                    everpresentrowposition: "bottom",
                                                    editable: true,
                                                    editmode: 'selectedrow',
                                                    selectionmode: 'singlecell',
                                                    showaggregates: true,
                                                    columns: [
                                                        { text: 'WOID', datafield: 'woid', width: 80 },
                                                        {
                                                            text: 'Activity Details',
                                                            datafield: 'workOrderDetails',
                                                            width: 250
                                                        },
                                                        {
                                                            text: 'Materials Code',
                                                            datafield: 'materialsCode',
                                                            width: 150
                                                        },
                                                        {
                                                            text: 'Materials Description',
                                                            datafield: 'materialsDescription',
                                                            width: 300
                                                        },
                                                        {
                                                            text: 'Qty',
                                                            datafield: 'qty',
                                                            width: 100
                                                        },
                                                        {
                                                            text: 'Price',
                                                            datafield: 'price',
                                                            cellsalign: 'right',
                                                            cellsformat: 'c2',
                                                            aggregates: [
                                                                {
                                                                    '<b>Total</b>':
                                                                        function(aggregatedValue,
                                                                            currentValue,
                                                                            column,
                                                                            record) {
                                                                            var total =
                                                                                currentValue; // * parseInt(record['qty']);
                                                                            return aggregatedValue + total;
                                                                        }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                });
                                            }
                                        };
                                        var renderer = function(row, column, value) {
                                            return '<span style="margin-left: 4px; margin-top: 9px; float: left;">' +
                                                value +
                                                '</span>';
                                        };
                                        // creage jqxgrid

                                        $("#grid").jqxGrid(
                                            {
                                                width: '100%',
                                                showstatusbar: true,
                                                editable: true,
                                                editmode: 'click',
                                                enabletooltips: true,
                                                //editmode: 'selectedrow',
                                                selectionmode: 'checkbox', 
                                                rowdetails: true,
                                                filterable: true,
                                                columnsresize: true,
                                                groupable: true,
                                                pageable: false,
                                                theme: 'energyblue',
                                                source: dataAdapter,
                                                autoheight: true,
                                                renderstatusbar: function(statusbar) {
                                                    // appends buttons to the status bar.
                                                    var container =
                                                        $(
                                                            "<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                                                    var invoiceButton = $("<button>Invoice</button>");
                                                    container.append(invoiceButton);
                                                    statusbar.append(container);
                                                    invoiceButton.jqxButton({ width: 60, height: 25 });
                                                    $("#grid").bind('cellendedit',
                                                        function(event) {
                                                            if (event.args.value) {
                                                                $("#grid").jqxGrid('selectrow', event.args.rowindex);
                                                            } else {
                                                                $("#grid").jqxGrid('unselectrow', event.args.rowindex);
                                                            }
                                                        });
                                                    invoiceButton.click(function(event) {
                                                        var rows = $("#grid").jqxGrid('selectedrowindexes');
                                                        var selectedRecords = new Array();
                                                        var wo = '';
                                                        for (var m = 0; m < rows.length; m++) {
                                                            var row = $("#grid").jqxGrid('getrowdata', rows[m]);
                                                            selectedRecords[selectedRecords.length] = row;
                                                            if (m == (rows.length) - 1) {
                                                                wo = wo.concat($('#grid').jqxGrid('getcellvalue',
                                                                    rows[m],
                                                                    'woid'));
                                                            } else {
                                                                wo = wo.concat($('#grid').jqxGrid('getcellvalue',
                                                                        rows[m],
                                                                        'woid') +
                                                                    ',');
                                                            }
                                                        }
                                                        //alert(wo);
                                                        $('#report').html(
                                                            '<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2frsEmployee%2frpInvoice&listWOID=' +
                                                            wo +
                                                            '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');
                                                    });
                                                },
                                                initrowdetails: initrowdetails,
                                                rowdetailstemplate: {
                                                    rowdetails: "<div id='grid' style='margin: 10px;'></div>",
                                                    rowdetailsheight: 220,
                                                    rowdetailshidden: true
                                                },
                                                ready: function() {
                                                    $("#grid").jqxGrid('showrowdetails', 1);
                                                    $("#grid").jqxGrid('selectrow', 0);
                                                    $('#grid').jqxGrid('focus');
                                                },
                                                columns: [
                                                    {
                                                        text: "ID",
                                                        datafield: "woid",
                                                        cellsformat: 'd',
                                                        cellsrenderer: renderer
                                                    },
                                                    {
                                                        text: "Element Code:",
                                                        datafield: "woElement",
                                                        cellsrenderer: renderer
                                                    },
                                                    {
                                                        text: "Customer:",
                                                        datafield: "woCustomer",
                                                        cellsrenderer: renderer
                                                    },
                                                    {
                                                        text: "Data",
                                                        datafield: "executionDate",
                                                        cellsformat: 'dd/MM/yyyy',
                                                        width: '10%',
                                                        cellsrenderer: renderer
                                                    },
                                                    {
                                                        text: "Eseguito da:",
                                                        datafield: "assignedTo",
                                                        cellsrenderer: renderer
                                                    },
                                                    { text: "Wbs", datafield: "wbs", cellsrenderer: renderer },
                                                    {
                                                        text: "Descrizione attività",
                                                        datafield: "woType",
                                                        cellsrenderer: renderer
                                                    },
                                                    {
                                                        text: "Customer Order",
                                                        datafield: "customerOrder",
                                                        cellsrenderer: renderer
                                                    },
                                                    {
                                                        text: 'Edit',
                                                        datafield: 'Edit',
                                                        columntype: 'button',
                                                        cellsrenderer: function() {
                                                            return "Edit";
                                                        },
                                                        buttonclick: function(row) {

                                                            $("#detail").toggle();;

                                                        }
                                                    }
                                                ]
                                            });
                                    }
                                });
                        });
                });
        });
    </script>
}

<div hidden="hidden" id="wbscode"></div>
<div hidden="hidden" id="iccode"></div>
<div hidden="hidden" id="customercode"></div>
<section class="widget">
    <form class="form-horizontal" role="form" id="workorderform">
        <fieldset>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="form-group">
                        <label for="search-input">Customer</label>
                        <div class="input-group">
                            <input id="Customer" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="search-input">Wbs</label>
                        <div class="input-group">
                            <div id="Wbs"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="search-input">IC</label>
                        <div class="input-group">
                            <div id="IC"></div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="grid"></div>
    <div id="report"></div>
</section>

<div id="user" style="visibility: hidden">@usr.username</div>
<div id="uid" style="visibility: hidden">@usr.uid</div>
