﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Planning Dashboard";

}
@{
    var usr = (user)ViewData["MyUser"];
}
    <h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {

    <script type="text/javascript" src="~/jqwidgets/jqx-all.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtextarea.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var sourceCustomer =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'customerID', type: 'int' },
                        { name: 'customerDescription', type: 'string' },
                        { name: 'partitaIva', type: 'string' }
                    ],
                    url: '/api/WebApiCustomerEnrollment'
                };
            var daCustomer = new $.jqx.dataAdapter(sourceCustomer);

            $("#Customer").jqxInput({
                source: daCustomer,
                displayMember: "customerDescription",
                valueMember: "customerID",
                height: 25
            });
            $('#Customer').on('select',
                function (event) {

                    var customer = $("#Customer").val();

                    var sourceWbs =
                        {
                            datatype: "json",
                            datafields: [
                                { name: 'wbs', type: 'string' }
                            ],
                            url: '/api/WebApiWbs/' + customer.value
                        };
                    var daWbs = new $.jqx.dataAdapter(sourceWbs, { autoBind: true });

                    $("#Wbs").jqxDropDownList(
                        {
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daWbs,
                            displayMember: "wbs",
                            valueMember: "wbs",
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });
                });

            $("#dataFrom").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });
            $("#dataTo").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });

            $("#btnFind").on('click', function () {

                var data1 = $("#dataFrom").val().split("/");;
                var data2 = $("#dataTo").val().split("/");;;
                var customer = $("#Customer").val();

                var d1 = data1[1] + '-' + data1[0] + '-' + data1[2];
                var d2 = data2[1] + '-' + data2[0] + '-' + data2[2];

                var wbs = $("#Wbs").val();

                var source =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'pdr', type: 'string' },
                            { name: 'technician', type: 'string' },
                            { name: 'workOrdeType', type: 'string' },
                            { name: 'executionDate', type: 'date', format: 'dd-MM-yyyy' },
                            { name: 'wbs', type: 'string' },
                            { name: 'deviceModel', type: 'string' },
                            { name: 'activity', type: 'string' }
                        ],
                        url: '/api/WebApiGetPlanning/' + d1 + '/' + d2 + '/' + customer.value + '/' + wbs
                    };
                var dataAdapter = new $.jqx.dataAdapter(source);
                var sourcePL =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'priceListId', type: 'int' },
                            { name: 'item', type: 'string' },
                            { name: 'itemPrice', type: 'string' }
                        ],
                        url: '/api/WebApiGetPriceList/' + wbs + '/' + customer.value
                    };
                var daPL = new $.jqx.dataAdapter(sourcePL);
                // initialize jqxGrid
                $("#grid").jqxGrid(
                    {
                        width: '100%',
                        filterable: true,
                        columnsresize: true,
                        groupable: true,
                        autorowheight: true,
                        theme: 'energyblue',
                        source: dataAdapter,
                        autoheight: true,
                        selectionmode: 'singlecell',
                        editable: true,
                        columns: [
                            { text: "Pdr", datafield: "pdr", width: '160' },
                            { text: "Technician", datafield: "technician", width: '200' },
                            { text: "Tipo Odl", datafield: "workOrdeType" },
                            { text: "Wbs", datafield: "wbs" },
                            { text: "Data Attività", datafield: "executionDate", cellsformat: 'dd/MM/yyyy', width: '110' },
                            { text: "Modello", datafield: "deviceModel" },
                            { text: "Attività", datafield: "activity" },
                            {
                                text: 'Costo Prestazione', datafield: 'item', width: 150, columntype: 'dropdownlist',
                                createeditor: function (row, column, editor) {
                                    // assign a new data source to the dropdownlist.
                                    editor.jqxDropDownList({ source: daPL });
                                },
                                // update the editor's value before saving it.
                                cellvaluechanging: function (row, column, columntype, oldvalue, newvalue) {
                                    // return the old value, if the new value is empty.
                                    if (newvalue == "") return oldvalue;
                                }
                            },
                        ]
                    });
            });
        });
    </script>
}

<div class="row">
    <section class="widget">
        <header>
            <div class="widget-controls">
                <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#"><i class="fa fa-refresh"></i></a>
                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class="widget-body">
            <form role="form">
                <fieldset>
                    <legend><strong>Pannello</strong> Ricerca</legend>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="search-input">Data da:</label>
                                <div class="input-group">
                                    <div id='dataFrom'></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Data a:</label>
                                <div class="input-group">
                                    <div id='dataTo'></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Customer:</label>
                                <div class="input-group">
                                    <input id="Customer" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Wbs</label>
                                <div class="input-group">
                                    <div id="Wbs"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-7  pull-left">
                            @*<input type="button" value="Cerca" id="jqxButton" class="btn btn-primary" />*@
                            <input type="button" value="Cerca" id="btnFind" class="btn btn-primary" />
                            <input type="button" value="Invia Mail" id="btnSend" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<div class="form-actions">
    <div class="row">
        <div id="grid"></div>
    </div>
</div>
<div id="user" style="visibility:hidden">@usr.username</div>
<div id="uid" style="visibility:hidden">@usr.uid</div>
