﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Planning Dashboard";

}
@{
    var usr = (user)ViewData["MyUser"];
}
    <h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {

    <script type="text/javascript" src="~/jqwidgets/jqx-all.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdragdrop.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpivot.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpivotgrid.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpivotdesigner.js"></script>
 
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            $.ajax({
                url: '/api/WebApiGetPlanning',
                type: 'GET',
                traditional: true,
                success: function (result) {
                    var array = $.map(result, function (value, key) {
                        return [[key, value]];
                    });
                   
                    console.log(result);

            var sourceWorkOrder =
                {
                    localdata: result,
                    datatype: "array",
                  
                    dataFields: [
                        { name: 'ispettore', type: 'string' },
                        { name: 'pdr', type: 'string' },
                        { name: 'customer', type: 'string' },
                        { name: 'network', type: 'string' },
                        { name: 'plant', type: 'string' },
                        { name: 'address', type: 'string' },
                        { name: 'city', type: 'string' },
                        { name: 'zipCode', type: 'string' },
                        { name: 'prov', type: 'string' },
                        { name: 'todoWO', type: 'int'},
                        { name: 'executionDate', type: 'int'},
                        { name: 'technician', type: 'string' },
                        { name: 'workOrdeType', type: 'string' },
                        { name: 'workOrder', type: 'int' },
                        { name: 'wbs', type: 'string' },
                        { name: 'meterSn', type: 'string' },
                        { name: 'meterBrand', type: 'string' },
                        { name: 'deviceSn', type: 'string' },
                        { name: 'deviceBrand', type: 'string' },
                        { name: 'deviceModel', type: 'string' },
                        { name: 'activity', type: 'string' }
                    ],
                    //id: 'workOrder',
                    //url: '/api/WebApiGetPlanning'
                };

            var dataAdapter = new jqx.dataAdapter(sourceWorkOrder);
            dataAdapter.dataBind();

            var pivotDataSource = new $.jqx.pivot(
                dataAdapter,
                {
                    customAggregationFunctions: {
                        'var': function (values) {
                            if (values.length <= 1)
                                return 0;
                            // sample's mean
                            var mean = 0;
                            for (var i = 0; i < values.length; i++)
                                mean += values[i];
                            mean /= values.length;
                            // calc squared sum
                            var ssum = 0;
                            for (var i = 0; i < values.length; i++)
                                ssum += Math.pow(values[i] - mean, 2)
                            // calc the variance
                            var variance = ssum / values.length;
                            return variance;
                        }
                    },
                    pivotValuesOnRows: false,
                    fields: [
                        { dataField: 'ispettore', text: 'Ispettore' },
                        { dataField: 'pdr', text: 'Pdr' },
                        { dataField: 'customer', text: 'Distributore' },
                        { dataField: 'network', text: 'Sottorete' },
                        { dataField: 'plant', text: 'Utente' },
                        { dataField: 'address', text: 'Indirizzo' },
                        { dataField: 'city', text: 'Città' },
                        { dataField: 'zipCode', text: 'CAP' },
                        { dataField: 'prov', text: 'Provincia' },
                        { dataField: 'todoWO', text: 'Intervento Pianificato' },
                        { dataField: 'executionDate', text: 'Intervento Eseguito' },
                        { dataField: 'technician', text: 'Tecnico Assegnato' },
                        { dataField: 'workOrdeType', text: 'Tipo Odl' },
                        { dataField: 'workOrder', text: 'Odl' },
                        { dataField: 'wbs', text: 'Wbs' },
                        { dataField: 'meterSn', text: 'Matricola Contatore' },
                        { dataField: 'meterBrand', text: 'Marca Contatore' },
                        { dataField: 'deviceSn', text: 'Matricola Convertitore' },
                        { dataField: 'deviceBrand', text: 'Marca convertitore' },
                        { dataField: 'deviceModel', text: 'Modello Convertitore' },
                        { dataField: 'activity', text: 'Attività' }
                    ],
                    rows: [
                        { dataField: 'technician', text: 'Tecnico Assegnato' },
                        { dataField: 'customer', text: 'Distributore' },
                        { dataField: 'pdr', text: 'Pdr' }
                    ],
                    columns: [{ dataField: 'workOrdeType', align: 'left' }],
                    filters: [
                        {
                            dataField: 'workOrdeType',
                            text: 'Tipo Odl',
                            filterFunction: function (value) {
                                if (value == "Manutenzione" || value == "Verifica DM75")
                                    return false;
                                return true;
                            }
                        }
                    ],
                    values: [
                        { dataField: 'todoWO', 'function': 'sum', text: 'Number todo' },
                        { dataField: 'executionDate', 'function': 'sum', text: 'Number executed' }
                    ]
                });

            // create a pivot grid
            $('#divPivotGrid').jqxPivotGrid(
                {
                    source: pivotDataSource,
                    treeStyleRows: false,
                    autoResize: false,
                    multipleSelectionEnabled: true
                });
            var pivotGridInstance = $('#divPivotGrid').jqxPivotGrid('getInstance');
            pivotGridInstance.refresh();
            // create a pivot grid
            $('#divPivotGridDesigner').jqxPivotDesigner(
                {
                    type: 'pivotGrid',
                    target: pivotGridInstance
                });
                }
            });
        });
    </script>
}

<div class="row">
    <div id="divPivotGridDesigner" style="height: 400px; width: 250px;">
    </div>

    <div id="divPivotGrid" style="height: 1200px; width: 100%;">
    </div>
</div>
<div id="user" style="visibility:hidden">@usr.username</div>
<div id="uid" style="visibility:hidden">@usr.uid</div>
