﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Scheduler Calendar";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcolorpicker.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxeditor.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdate.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscheduler.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscheduler.api.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxradiobutton.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.culture.it-IT.js"></script>
    <script src="~/jqwidgets/jqx-all.js"></script>

    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCYbXIcgnBKMvFtr1azwBTnooVnKGropk0" type="text/javascript"></script>
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYbXIcgnBKMvFtr1azwBTnooVnKGropk0"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var sourceWorkOrder =
                {
                    dataType: 'json',
                    dataFields: [
                        { name: 'wopk', type: 'string' },
                        { name: 'woid', type: 'string' },
                        { name: 'woTitle', type: 'string' },
                        { name: 'woState', type: 'string' },
                        { name: 'woElement', type: 'string' },
                        { name: 'woTypeID', type: 'string' },
                        { name: 'woType', type: 'string' },
                        { name: 'wocid', type: 'int' },
                        { name: 'woCustomer', type: 'string' },
                        { name: 'workmanID', type: 'int' },
                        { name: 'assignedTo', type: 'string' },
                        { name: 'wbs', type: 'string' },
                        { name: 'ic', type: 'string' },
                        { name: 'customerOrder', type: 'string' },
                        { name: 'reasonText', type: 'string' },
                        { name: 'scheduledDate', type: 'date', format: "dd-MM-yyyy HH:mm" },
                        { name: 'scheduledDateEnd', type: 'date', format: "dd-MM-yyyy HH:mm" }
                    ],
                    id: 'woid',
                    url: '/api/WebApiGetWorkOrder'
                };
            var sourceWorkMan =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'workmanID', type: 'int' },
                        { name: 'workmanName', type: 'string' },
                    ],
                    id: 'workmanID',
                    url: '/api/webapigetworkman'
                };
            var sourceCustomer =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'customerID', type: 'int' },
                        { name: 'customerDescription', type: 'string' },
                    ],
                    url: '/api/WebApiCustomer'
                };
            var sourceWorkOrderType =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'workOrderTypeID', type: 'int' },
                        { name: 'workOrderType', type: 'string' },
                    ],
                    url: '/api/WebApiGetWorkOrderType'
                };
            var sourceWorkOrderStatus =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'workOrderStatusID', type: 'int' },
                        { name: 'workOrderStatus', type: 'string' },
                    ],
                    url: '/api/WebApiGetWorkOrderStatus'
                };

            var daWorkOrder = new $.jqx.dataAdapter(sourceWorkOrder);
            var daWorkMan = new $.jqx.dataAdapter(sourceWorkMan);
            var daCustomer = new $.jqx.dataAdapter(sourceCustomer);
            var daWorkOrderType = new $.jqx.dataAdapter(sourceWorkOrderType);
            var daWorkOrderStatus = new $.jqx.dataAdapter(sourceWorkOrderStatus);

            $("#scheduler").jqxScheduler({
                date: new $.jqx.date('todayDate'),
                width: "100%",
                height: 600,
                source: daWorkOrder,
                view: 'monthView',
                legendHeight: 100,
                showLegend: true,
                // called when the dialog is craeted.
                editDialogCreate: function (dialog, fields, editAppointment) {

                    // hide repeat option
                    //fields.repeatContainer.hide();
                    // hide status option
                    fields.statusContainer.hide();
                    // hide timeZone option
                    fields.timeZoneContainer.hide();
                    // hide color option
                    fields.colorContainer.hide();
                    fields.subjectContainer.hide();
                    //fields.subjectLabel.html("Title");
                    fields.locationContainer.hide();
                    //fields.locationLabel.html("Where");
                    fields.fromLabel.html("Start");
                    fields.toLabel.html("End");
                    fields.resourceContainer.hide();
                    //fields.resourceLabel.html("Technician");
                    var WOField = ""
                    var CustomerField = ""
                    var ElementField = ""
                    var CustomerOrderField = ""
                    var WbsField = ""
                    var ICField = ""
                    var WorkManField = ""
                    var WorkOrderStatusField = ""
                    WOField += "<div>"
                    WOField += "<div class='jqx-scheduler-edit-dialog-label'>Work Order</div>"
                    WOField += "<div class='jqx-scheduler-edit-dialog-field'><div id='WorkOrderType'></div></div>"
                    WOField += "</div>"
                    CustomerField += "<div>"
                    CustomerField += "<div class='jqx-scheduler-edit-dialog-label'>Customer</div>"
                    CustomerField += "<div class='jqx-scheduler-edit-dialog-field'><div id='Customer'></div></div>"
                    CustomerField += "</div>"
                    CustomerOrderField += "<div>"
                    CustomerOrderField += "<div class='jqx-scheduler-edit-dialog-label'>C.O. Order</div>"
                    CustomerOrderField += "<div class='jqx-scheduler-edit-dialog-field'><input type='text' id='CustomerOrder'/></div>"
                    CustomerOrderField += "</div>"
                    ElementField += "<div>"
                    ElementField += "<div class='jqx-scheduler-edit-dialog-label'>Element Code</div>"
                    ElementField += "<div class='jqx-scheduler-edit-dialog-field'><div id='Element'></div></div>"
                    ElementField += "</div>"
                    WbsField += "<div>"
                    WbsField += "<div class='jqx-scheduler-edit-dialog-label'>Wbs</div>"
                    WbsField += "<div class='jqx-scheduler-edit-dialog-field'><div id='Wbs'></div></div>"
                    WbsField += "</div>"
                    ICField += "<div>"
                    ICField += "<div class='jqx-scheduler-edit-dialog-label'>IC</div>"
                    ICField += "<div class='jqx-scheduler-edit-dialog-field'><div id='IC'></div></div>"
                    ICField += "</div>"
                    WorkManField += "<div>"
                    WorkManField += "<div class='jqx-scheduler-edit-dialog-label'>Technician</div>"
                    WorkManField += "<div class='jqx-scheduler-edit-dialog-field'><div id='WorkMan'></div></div>"
                    WorkManField += "</div>"
                    WorkOrderStatusField += "<div>"
                    WorkOrderStatusField += "<div class='jqx-scheduler-edit-dialog-label'>Status</div>"
                    WorkOrderStatusField += "<div class='jqx-scheduler-edit-dialog-field'><div id='WOStatus'></div></div>"
                    WorkOrderStatusField += "</div>"
                    fields.toContainer.append(WOField);
                    fields.toContainer.append(CustomerField);
                    fields.toContainer.append(CustomerOrderField);
                    fields.toContainer.append(ElementField);
                    fields.toContainer.append(WbsField);
                    fields.toContainer.append(ICField);
                    fields.toContainer.append(WorkManField);
                    fields.toContainer.append(WorkOrderStatusField);

                    fields.description.jqxValidator({
                        rules: [{ input: fields.description, message: 'Work Order reason is required!', action: 'keyup, blur', rule: 'required' }]
                    });

                    $("#WorkOrderType").jqxDropDownList(
                        {
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daWorkOrderType,
                            displayMember: "workOrderType",
                            valueMember: "workOrderTypeID",
                            width: '99%',
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });
                    $('#Customer').jqxDropDownList({
                        placeHolder: 'Please Choose:',
                        selectedIndex: -1,
                        source: daCustomer,
                        displayMember: "customerDescription",
                        valueMember: "customerID",
                        width: '99%',
                        height: 25,
                        incrementalSearch: true,
                        theme: 'summer'
                    });
                    $("#CustomerOrder").jqxInput({ placeHolder: "Enter a Order", height: 25, width: '98%', minLength: 1});
                    $('#Element').jqxDropDownList({ width: '99%', height: 25 });
                    $('#Wbs').jqxDropDownList({ placeHolder: 'Please Choose:', width: '99%', height: 25 });
                    $('#IC').jqxDropDownList({ placeHolder: 'Please Choose:', width: '99%', height: 25 });
                    $('#WorkMan').jqxDropDownList({
                        placeHolder: 'Please Choose:',
                        selectedIndex: -1,
                        source: daWorkMan,
                        displayMember: "workmanName",
                        valueMember: "workmanID",
                        width: '99%',
                        height: 25,
                        incrementalSearch: true,
                        theme: 'summer'
                    });
                    $('#WOStatus').jqxDropDownList({
                        placeHolder: 'Please Choose:',
                        selectedIndex: -1,
                        source: daWorkOrderStatus,
                        displayMember: "workOrderStatus",
                        valueMember: "workOrderStatusID",
                        width: '99%',
                        height: 25,
                        incrementalSearch: true,
                        theme: 'summer'
                    });

                    $("#Customer").on('select', function (event) {
                        if (event.args) {
                            var item = event.args.item;
                            if (item) {
                                $("#customercode").empty();
                                var valueelement = $("<div></div>");
                                valueelement.text(item.value);
                                $("#customercode").append(valueelement);
                            }
                        }
                        var cod = $("#customercode").text();
                        var sourceElementCode =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'elementCode', type: 'string' },
                                    { name: 'elementName', type: 'string' },
                                    { name: 'customerID', type: 'int' },
                                    { name: 'customerDescription', type: 'string' },
                                    { name: 'elementAddress', type: 'string' },
                                    { name: 'elementStreetNumber', type: 'string' },
                                    { name: 'elementZipCode', type: 'string' },
                                    { name: 'elementCity', type: 'string' },
                                    { name: 'elementPrv', type: 'string' },
                                    { name: 'elementRegion', type: 'string' },
                                    { name: 'elementState', type: 'string' }
                                ],
                                url: '/api/WebApiGetPlantbyCustomer/' + cod
                            };
                        var daElement = new $.jqx.dataAdapter(sourceElementCode);
                        var sourceWBS =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'ic', type: 'string' },
                                    { name: 'wbs', type: 'string' },
                                ],
                                url: '/api/ChkAPIIC/' + cod
                            };
                        var daWbs = new $.jqx.dataAdapter(sourceWBS);

                        $("#Wbs").jqxDropDownList(
                            {
                                placeHolder: 'Please Choose:',
                                selectedIndex: -1,
                                source: daWbs,
                                displayMember: "wbs",
                                valueMember: "wbs",
                                height: 25,
                                incrementalSearch: true,
                                theme: 'summer'
                            });
                        $('#Element').jqxDropDownList({
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daElement,
                            displayMember: "elementCode",
                            valueMember: "elementCode",
                            width: '99%',
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });

                        $('#Wbs').on('select', function (event) {
                            var args = event.args;
                            if (args) {
                                var item = args.item;
                                $("#wbscode").empty();
                                var valueelement = $("<div></div>");
                                valueelement.text(item.value);
                                $("#wbscode").append(valueelement);
                                var sourceIC =
                                    {
                                        datatype: "json",
                                        datafields: [
                                            { name: 'ic', type: 'string' },
                                            { name: 'wbs', type: 'string' },
                                        ],
                                        url: '/api/WebApiGetICWBS/' + item.value
                                    };
                                var daIC = new $.jqx.dataAdapter(sourceIC);
                                $("#IC").jqxDropDownList(
                                    {
                                        selectedIndex: -1,
                                        source: daIC,
                                        displayMember: "ic",
                                        valueMember: "ic",
                                        height: 25,
                                        theme: 'summer'
                                    });
                            }
                        });
                    });
                    $("#WorkMan").on('select', function (event) {
                        fields.subject.val($("#WorkMan").text() + ' presso ' + $("#Customer").text());
                    });
                },
                editDialogOpen: function (dialog, fields, appointment) {
                    if (appointment) {
                        $("#Customer").jqxDropDownList('val', appointment.customerfield);
                        $("#Element").jqxDropDownList('setContent', appointment.elementfield);
                        $("#WorkOrderType").jqxDropDownList('val', appointment.worktypefield);
                        $("#WOStatus").jqxDropDownList('val', appointment.workorderstatusfield);
                        $("#WorkMan").jqxDropDownList('val', appointment.workmanfield);
                        $("#Wbs").jqxDropDownList('val', appointment.wbsfield);
                        $("#IC").jqxDropDownList('val', appointment.icfield);
                        $('#CustomerOrder').val(appointment.cofield);
                    } else {
                        $("#WorkOrderType").jqxDropDownList('selectIndex', -1);
                        $("#Customer").jqxDropDownList('selectIndex', -1);
                        $("#Element").jqxDropDownList('selectIndex', -1);
                        $("#Wbs").jqxDropDownList('selectIndex', -1);
                        $("#IC").jqxDropDownList('selectIndex', -1);
                        $("#WorkMan").jqxDropDownList('selectIndex', -1);
                    };
                },
                editDialogClose: function (dialog, fields, editAppointment) {
                },
                editDialogKeyDown: function (dialog, fields, editAppointment, event) {

                },
                resources:
                {
                    colorScheme: "scheme05",
                    dataField: "workOrderType",
                    source: new $.jqx.dataAdapter(sourceWorkOrderType)
                },
                appointmentDataFields:
                {
                    from: "scheduledDate",
                    to: "scheduledDateEnd",
                    id: "woid",
                    description: "reasonText",
                    location: "woCustomer",
                    subject: "assignedTo",
                    resourceId: "woType",
                    recurrencePattern: "recurrenceRule",
                    recurrenceException: "recurrenceException",
                    customerfield: "wocid",
                    elementfield: "woElement",
                    workmanfield: "workmanID",
                    worktypefield: "woTypeID",
                    workorderstatusfield: "woState",
                    wbsfield: "wbs",
                    icfield: "ic",
                    cofield:"customerOrder"
                },
                views:
                [
                    'monthView'
                ]
            });
            $('#scheduler').on('appointmentAdd', function (event) {
                var args = event.args;
                var appointment = args.appointment;

                appointment.customerfield = $("#Customer").jqxDropDownList('getSelectedIndex');
                appointment.workmanfield = $("#WorkMan").jqxDropDownList('getSelectedIndex');
                appointment.worktypefield = $("#WorkOrderType").jqxDropDownList('getSelectedIndex');
                appointment.wbsfield = $("#Wbs").jqxDropDownList('getSelectedIndex');
                appointment.elementfield = $("#Element").jqxDropDownList('getSelectedItem');
                appointment.icfield = $("#IC").jqxDropDownList('getSelectedIndex');

                var welement = $("#Element").jqxDropDownList('getSelectedItem').value;
                var cid = $("#customercode").text();

                var dateString = String(appointment.from);
                var x = dateString.substring(0, 10);
                const [year, month, day] = x.split("-");

                var scheduleddate = new Date(year, month - 1, day, 00 + 2, 00, 00);
                var wot = $("#WorkOrderType").jqxDropDownList('getSelectedItem');
                var ta = $("#WorkMan").jqxDropDownList('getSelectedItem');
                var wstate = "10";
                var wdid = "1";
                var TechicianID = ta.value;
                var wbs = $("#Wbs").jqxDropDownList('getSelectedItem');
                var ic = $("#IC").jqxDropDownList('getSelectedItem');
                var clearNote = appointment.description;
                var createddate = new Date();
                var createdby = $("#uid").text();
                var co = $("CustomerOrder").text();

                var obj = {
                    "WOPK": "NG",
                    "WOElement": welement,
                    "WOType": wot.value,
                    "WOState": wstate,
                    "WODID": "1",
                    "WOCID": cid,
                    "CreatedBy": createdby,
                    "CreatedDate": createddate,
                    "AssignedTo": TechicianID,
                    "ScheduledDate": scheduleddate,
                    "ReasonCode": "10",
                    "ReasonText": clearNote,
                    "wbs": wbs.value,
                    "ic": ic.value,
                    "CustomerOrder": co
                };
                $.ajax({
                    type: 'POST',
                    url: '/api/WebApiGetWorkOrder',
                    data: JSON.stringify(obj),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function () {

                        $("#jqxOk").jqxNotification({
                            width: "auto", position: "bottom-right",
                            opacity: 0.9, autoOpen: true, autoClose: false, template: "success"
                        });
                    },
                    error: function (req, err) {
                        $("#jqxNOk").jqxNotification({
                            width: "auto", position: "bottom-right",
                            opacity: 0.9, autoOpen: true, autoClose: false, template: "error"
                        });
                    }
                })
            });
            $("#scheduler").on('appointmentChange', function (event) {
                var args = event.args;
                var appointment = args.appointment;
                appointment.customerfield = $("#Customer").jqxDropDownList('selectedIndex');
            });

        });
    </script>
}

<div class="row">
    <div id="scheduler">
    </div>
</div>
<div hidden="hidden" id='wbscode'></div>
<div hidden="hidden" id='customercode'></div>
<div id="jqxOk" style="color: #eeeeee;">
    Work Order upload succeful!
</div>
<div id="jqxNOk" style="color: #eeeeee;">
    Error upload Work Order!
</div>
<div id="user" style="visibility:hidden">@usr.username</div>
<div id="uid" style="visibility:hidden">@usr.uid</div>
