﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Job Manager";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    @*<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcolorpicker.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxeditor.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>*@
    <script src="~/jqwidgets/jqx-all.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <style type="text/css">
        .jqx-grid-column-header,
        .jqx-grid-cell {
            font-size: 10px;
        }

        #myModal {
            top: 25%;
            outline: none;
            overflow: hidden;
        }

        .blueClass {
            background-color: #3AA8B8;
        }
    </style>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCYbXIcgnBKMvFtr1azwBTnooVnKGropk0" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYbXIcgnBKMvFtr1azwBTnooVnKGropk0"></script>*@
      <script type="text/javascript">
        var customFunction = function (row) {
            $("#WOcollapse").collapse("show");
        };
        $(document).ready(function () {
            $('#MapPanel').hide();
            $('#buttonbar').hide();
            // Section data

            var sourceTypes = [{
                text: "PDR",
                value: 0
            }, {
                text: "SN Converter",
                value: 1
            }, {
                text: "SN Meter",
                value: 2
            }];

            // Create a jqxDropDownList
            $("#jqxDropDownListType").jqxDropDownList({
                source: sourceTypes,
                height: '30px',
                autoDropDownHeight: true,
                width: '60%',
                displayMember: 'text',
                selectedIndex: 0,
                valueMember: 'value'
                });

            var customervalue = "";

            var sourceWorkMan =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'workmanID', type: 'int' },
                        { name: 'workmanName', type: 'string' },
                    ],
                    url: '/api/webapigetworkman'
                };
            var sourceWorkOrderType =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'workOrderTypeID', type: 'int' },
                        { name: 'workOrderType', type: 'string' },
                    ],
                    url: '/api/WebApiGetWorkOrderType'
                };

            var daWorkMan = new $.jqx.dataAdapter(sourceWorkMan);
            var daWorkOrderType = new $.jqx.dataAdapter(sourceWorkOrderType);
            // Section for controls creation
            $("#Wbs").jqxDropDownList(
                {
                    height: 25,
                    theme: 'summer'
                });
            $("#IC").jqxDropDownList(
                {
                    height: 25,
                    theme: 'summer'
                });
            $("#WorkOrderType").jqxDropDownList(
                {
                    placeHolder: 'Please Choose:',
                    selectedIndex: -1,
                    source: daWorkOrderType,
                    displayMember: "workOrderType",
                    valueMember: "workOrderTypeID",
                    height: 25,
                    incrementalSearch: true,
                    theme: 'summer'
                });
            $("#TechnicianAssigned").jqxDropDownList(
                {
                    placeHolder: 'Please Choose:',
                    selectedIndex: -1,
                    source: daWorkMan,
                    displayMember: "workmanName",
                    valueMember: "workmanID",
                    height: 25,
                    incrementalSearch: true,
                    theme: 'summer'
                });
            $("#ScheduledDate").jqxDateTimeInput({
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });
            $('#editor').jqxEditor({
                height: "400px",
                width: "100%"
            });
            $("#jqxbutton").on('click', function (event) {
                $('#MapPanel').hide();
                $('#AnaPanel').hide();
                if ($(tCod).val() != '') {
                    cod = $(tCod).val().trim();

                    var cod;

                    var item = $("#jqxDropDownListType").jqxDropDownList('getSelectedItem');
                    var selVal = item.value;

                    var url = '/api/ChkAPIPlant/'

                    switch(selVal) {
                        case 0:
                            url = url + "pdr/" + cod
                            break;
                        case 1:
                            url = url + "snConv/" + cod
                            break;
                        case 2:
                            url = url + "snCont/" + cod
                            break;
                        default:
                            url = '/api/ChkAPIPlant/' + cod //old API
                    }

                    var sourceID =
                        {
                            datatype: "json",
                            datafields: [
                                { name: 'elementCode', type: 'string' },
                                { name: 'elementName', type: 'string' },
                                { name: 'customerID', type: 'int' },
                                { name: 'customerDescription', type: 'string' },
                                { name: 'elementAddress', type: 'string' },
                                { name: 'elementStreetNumber', type: 'string' },
                                { name: 'elementZipCode', type: 'string' },
                                { name: 'elementCity', type: 'string' },
                                { name: 'elementPrv', type: 'string' },
                                { name: 'elementRegion', type: 'string' },
                                { name: 'elementState', type: 'string' },
                                { name: 'elementLat', type: 'float' },
                                { name: 'elementLng', type: 'float' },
                                { name: 'sn', type: 'string' },
                                { name: 'snCont', type: 'string' },
                                { name: 'modConv', type: 'string' },
                                { name: 'modCont', type: 'string' },
                                { name: 'stato', type: 'string' },
                                { name: 'marcaConv', type: 'string' },
                                { name: 'marcaCont', type: 'string' },
                                { name: 'sim', type: 'string' },
                                { name: 'idDeviceTypology', type: 'string' },
                                { name: 'remi', type: 'string' },
                                { name: 'idSr', type: 'string' },
                                { name: 'descSr', type: 'string' }
                            ],
                            url: url //'/api/ChkAPIPlant/' + cod    // slt_GetPlantList
                        };

                    var dataAdapterID = new $.jqx.dataAdapter(sourceID, {

                        loadComplete: function () {
                            // get data records.
                            var records = dataAdapterID.records;
                            var length = records.length;
                            $('#gridbyCustomer').jqxGrid('destroy');
                            $('#MapPanel').show();
                            $('#AnaPanel').show();
                            $('#codegrid').show();
                            $('#buttonbar').show();
                            // loop through the records and display them in a table.
                            var html = "<section class='widget'><header><h6><strong>Register</strong> Form</h6><div class='widget-controls'><a href='#'><i class='glyphicon glyphicon-cog'></i></a><a href='#'><i class='fa fa-refresh'></i></a>";
                            html += "<a href='#' data-widgster='close'><i class='glyphicon glyphicon-remove'></i></a></div></header><hr /><div class='widget-body'><div class='row'><div class='col-md-6'><form class='form-horizontal' role='form'>";
                            html += "<fieldset>"
                            for (var i = 0; i < length; i++) {
                                var record = records[i];
                                var pdr = record.elementCode;
                                $("#customercode").empty();
                                var valueelement = $("<div></div>");
                                valueelement.text(record.customerID);
                                $("#customercode").append(valueelement);
                                $("#welement").empty();
                                var welem = $("<div></div>");
                                welem.text(record.elementCode);
                                $("#welement").append(welem);
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Stato</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.stato + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Code</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementCode + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Name</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementName + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Customer Code</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.customerID + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Customer</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.customerDescription + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>SubNetwork Code</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.idSr + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>SubNetwork</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.descSr + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Address</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementAddress + ', ' + record.elementStreetNumber + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>ZIP Code</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementZipCode + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>City</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementCity + ' (' + record.elementPrv + ')' + "</label>";
                                html += "</div>";
                                html += "</div>";
                                //html += "<div class='form-group row'>";
                                //html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Typology</strong></label>";
                                //html += "<div>";
                                //html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'></label>";
                                //html += "</div>";
                                //html += "</div>";
                                html += "</fieldset>";
                                html += "</form>";//</div></section>";
                                html += "</div>";

                                html += "<div class='col-md-6'>";
                                html += "<form class='form-horizontal' role='form'>";
                                html += "<fieldset>"
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>REMI</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.remi + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Type Converter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.idDeviceTypology + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Brand Converter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.marcaConv + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Model Converter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.modConv + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Sn Converter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.sn + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>SIM Converter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.sim + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Brand Meter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.marcaCont + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Model Meter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.modCont + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Sn Meter</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.snCont + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Latitudine</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementLat + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Longitudine</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementLng + "</label>";
                                html += "</div>";
                                html += "</div>";

                                html += "</fieldset>";
                                html += "</form>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div></section>";

                            }

                            var sourceOdl =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'wopk', type: 'string' },
                                    { name: 'woid', type: 'string' },
                                    { name: 'woElement', type: 'string' },
                                    { name: 'woType', type: 'string' },
                                    { name: 'woState', type: 'string' },
                                    { name: 'woStateDescription', type: 'string' },
                                    { name: 'createdBy', type: 'string' },
                                    { name: 'createdDate', type: 'date' },
                                    { name: 'workmanID', type: 'int' },
                                    { name: 'assignedTo', type: 'string' },
                                    { name: 'scheduledDate', type: 'datetime' },
                                    { name: 'executionDate', type: 'date', },
                                    { name: 'cancelledBy', type: 'string' },
                                    { name: 'cancelledDate', type: 'date' },
                                    { name: 'wbs', type: 'string' },
                                    { name: 'ic', type: 'string' },
                                    { name: 'activity', type: 'string' },
                                    { name: 'reasonText', type: 'string' },
                                    { name: 'sn', type: 'string' },
                                    { name: 'stato', type: 'string' },
                                    { name: 'esito', type: 'string' },
                                    { name: 'isActive', type: 'string' }
                                ],
                                url: '/api/webapigetworkorder/' + pdr // MAIN API - slt_GetWOList
                            };


                            var daOdl = new $.jqx.dataAdapter(sourceOdl);

                            var cellclassname = function (row, columnfield, value, defaulthtml, columnproperties) {
                                var datarow = $("#grid").jqxGrid('getrowdata', row);

                                if (datarow.woState < 50 && datarow.woState != null) {
                                    return 'orangeClass'; //'orangeClass';
                                }
                            };

                            $("#grid").jqxGrid(
                                {
                                    width: '100%',
                                    filterable: true,
                                    filtermode: 'excel',
                                    showfilterrow: true,
                                    sortable: true,
                                    columnsresize: true,
                                    //groupable: true,
                                    pageable: true,
                                    theme: 'energyblue',
                                    source: daOdl,
                                    //autoheight: true,
                                    height: '500px',
                                    //rowsheight: 80,
                                    autorowheight: true,
                                    selectionmode: 'multiplecellsadvanced',
                                    enablebrowserselection: true,
                                    columns: [
                                        { text: "ID", datafield: "woid", width: "60px", cellclassname: cellclassname },
                                        { text: "Tipologia", datafield: "woType", cellclassname: cellclassname },
                                        { text: "Stato", datafield: "woState", width: 30, cellclassname: cellclassname },
                                        { text: "Active", datafield: "isActive", width: 40, cellclassname: cellclassname },
                                        //{ text: "Descrizione Stato", datafield: "woStateDescription", cellclassname: cellclassname },
                                        { text: "Aperto da", datafield: "createdBy", cellclassname: cellclassname },
                                        { text: "Aperto data", datafield: "createdDate", cellclassname: cellclassname, cellsformat: "dd/MM/yyyy HH:mm:ss", filtertype: 'date' },
                                        { text: "workmanID", datafield: "workmanID", cellclassname: cellclassname, hidden: true },
                                        { text: "Assegnato a", datafield: "assignedTo", cellclassname: cellclassname },
                                        //{ text: "Data Schedulazione", datafield: "scheduledDate", cellclassname: cellclassname },
                                        { text: "Data Esecuzione", datafield: "executionDate", cellclassname: cellclassname, cellsformat: "dd/MM/yyyy HH:mm:ss", filtertype: 'date' },
                                        { text: "Annullato da:", datafield: "cancelledBy", cellclassname: cellclassname },
                                        { text: "Data Annullamento", datafield: "cancelledDate", cellclassname: cellclassname, cellsformat: "dd/MM/yyyy HH:mm:ss", filtertype: 'date' },
                                        { text: "Wbs", datafield: "wbs", cellclassname: cellclassname, hidden: true },
                                        { text: "Ic", datafield: "ic", cellclassname: cellclassname, hidden: true },
                                        { text: "Reason Text", datafield: "reasonText", width: 150, cellclassname: cellclassname },
                                        { text: "Attività", datafield: "activity", width: 150, cellclassname: cellclassname },
                                        { text: "Esito", datafield: "esito", width: 150, cellclassname: cellclassname },
                                        //{
                                        //    text: 'View', datafield: 'View', width: 60, columntype: 'button', cellsrenderer: function (row) {
                                        //        var datarow = $("#grid").jqxGrid('getrowdata', row);

                                        //        if (datarow.woState <= 50 && datarow.woState != null) {
                                        //            return "View";
                                        //        }
                                        //        else {
                                        //            return '<input id="button' + row + '" style="display:none;"  type="button" value="Delete"/>';
                                        //        }
                                        //    }, buttonclick: function (row) {
                                        //        var datarow = $("#grid").jqxGrid('getrowdata', row);
                                        //        $("#collapseOne").show();
                                        //        $("#TechnicianAssigned").jqxDropDownList('setContent', datarow.assignedTo);
                                        //        $("#ScheduledDate").jqxDateTimeInput('setDate', datarow.scheduledDate);
                                        //        $("#WorkOrderType").jqxDropDownList('setContent', datarow.woType);
                                        //        $("#Wbs").jqxDropDownList('setContent', datarow.wbs);
                                        //        $("#IC").jqxDropDownList('setContent', datarow.ic);
                                        //        $("#editor").jqxEditor('val', datarow.reasonText);
                                        //    }
                                        //}
                                    ]
                                });


                            $("#AnaPanel").html(html);

                            // Google Maps
                            google.maps.visualRefresh = true;
                            var strLat = record.elementLat;//.toString().replace(",", ".");
                            var strLng = record.elementLng;//.toString().replace(",", ".");
                            var Plant = new google.maps.LatLng(strLat, strLng);
                            var mapOptions = {
                                zoom: 10,
                                center: Plant,
                                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                            };
                            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                            var marker = new google.maps.Marker({
                                'position': new google.maps.LatLng(strLat, strLng),
                                'map': map,
                                'title': record.elementName
                            });

                            // Make the marker-pin blue!
                            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                            // put in some information about each json object - in this case, the opening hours.
                            var infowindow = new google.maps.InfoWindow({
                                content: "<div class='infoDiv'><h2>" + record.elementName + "</div></div>"
                            });

                            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });
                        }

                    });
                    dataAdapterID.dataBind();
                }
                else {
                    $("#myModal").modal('show');
                    $('#MapPanel').hide();
                    $('#AnaPanel').hide();
                    $('#codegrid').hide();
                    $('#buttonbar').hide();
                }
            });
            $("#BtnWorkOrder").on('click', function (event) {
                var customervalue = $('#tCustomer').jqxInput('val');
                var customerID = $("#customercode").text();
                var sourceWBS =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'ic', type: 'string' },
                            { name: 'wbs', type: 'string' },
                        ],
                        url: '/api/ChkAPIIC/' + customerID
                    };
                var daWbs = new $.jqx.dataAdapter(sourceWBS);
                $("#Wbs").jqxDropDownList(
                    {
                        placeHolder: 'Please Choose:',
                        selectedIndex: -1,
                        source: daWbs,
                        displayMember: "wbs",
                        valueMember: "wbs",
                        height: 25,
                        incrementalSearch: true,
                        theme: 'summer'
                    });
                $('#Wbs').on('select', function (event) {
                    var args = event.args;
                    if (args) {
                        var item = args.item;
                        $("#wbscode").empty();
                        var valueelement = $("<div></div>");
                        valueelement.text(item.value);
                        $("#wbscode").append(valueelement);
                        var sourceIC =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'ic', type: 'string' },
                                    { name: 'wbs', type: 'string' },
                                ],
                                url: '/api/WebApiGetICWBS/' + item.value
                            };
                        var daIC = new $.jqx.dataAdapter(sourceIC);
                        $("#IC").jqxDropDownList(
                            {
                                selectedIndex: -1,
                                source: daIC,
                                displayMember: "ic",
                                valueMember: "ic",
                                height: 25,
                                theme: 'summer'
                            });
                    }
                });
            });
            $("#BtnSaveWorkOrder").on('click', function () {
                $('#workorderform').jqxValidator('validate');
                var welement = $("#welement").text();
                var cid = $("#customercode").text();
                var co = $("#tCustomerOrder").val();
                var stringschedule = $("#ScheduledDate").val();
                const [day, month, year] = stringschedule.split("/")
                var scheduleddate = new Date(year, month - 1, day, 00 + 2, 00, 00);
                var wot = $("#WorkOrderType").jqxDropDownList('getSelectedItem');
                var ta = $("#TechnicianAssigned").jqxDropDownList('getSelectedItem');
                var wstate = "10";
                var wdid = "1";
                var TechicianID = ta.value;
                var wbs = $("#Wbs").jqxDropDownList('getSelectedItem');
                var ic = $("#IC").jqxDropDownList('getSelectedItem');
                var note = $("#editor").val();
                var htmlString = '<div>' + note + '</div>';
                var clearNote = $(htmlString).text();
                var createddate = new Date();
                var createdby = $("#uid").text();

                var obj = {
                    "WOPK": "NG",
                    "WOElement": welement,
                    "WOType": wot.value,
                    "WOState": wstate,
                    "WODID": "1",
                    "WOCID": cid,
                    "CreatedBy": createdby,
                    "CreatedDate": createddate,
                    "AssignedTo": TechicianID,
                    "ScheduledDate": scheduleddate,
                    "ReasonCode": "10",
                    "ReasonText": clearNote,
                    "wbs": wbs.label,
                    "ic": ic.label,
                    "CustomerOrder": co
                };
                $.ajax({
                    type: 'POST',
                    url: '/api/WebApiGetWorkOrder',
                    data: JSON.stringify(obj),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function () {

                        $("#jqxOk").jqxNotification({
                            width: "auto", position: "top-right",
                            opacity: 0.9, autoOpen: true, autoClose: false, template: "success"
                        });
                        $("#grid").jqxGrid('updatebounddata');
                        dataAdapterID.dataBind();
                    },
                    error: function (req, err) {
                        $("#jqxNOk").jqxNotification({
                            width: "auto", position: "top-right",
                            opacity: 0.9, autoOpen: true, autoClose: false, template: "error"
                        });
                    }
                })
            });
            $('#workorderform').jqxValidator({
                rules: [{
                    input: "#WorkOrderType", message: "Work Order Type is required!", action: 'blur', rule: function (input, commit) {
                        var index = $("#WorkOrderType").jqxDropDownList('getSelectedIndex');
                        return index !== -1;
                    }
                },
                {
                    input: "#TechnicianAssigned", message: "Technician is required!", action: 'blur', rule: function (input, commit) {
                        var index = $("#TechnicianAssigned").jqxDropDownList('getSelectedIndex');
                        return index !== -1;
                    }
                },
                {
                    input: "#Wbs", message: "Wbs is required!", action: 'blur', rule: function (input, commit) {
                        var index = $("#Wbs").jqxDropDownList('getSelectedIndex');
                        return index !== -1;
                    }
                },
                {
                    input: '#editor',
                    message: 'A note is required !',
                    action: 'keyup',
                    rule: function (input, commit) {
                        var editorValue = $.trim($(input.val()).text());
                        if (editorValue === "" || editorValue === '') {
                            return false;
                        } else {
                            return true;
                        }
                    }
                }
                ], hintType: "label"
                //theme: 'summer'
            });
            $('#input-group').keypress(function (e) {
                if (e.which == 13) {
                    //dosomething
                    alert('Enter pressed');
                }
            })
        });
      </script>
    <script>
        function runScript(e) {
            if (e.keyCode == 13) {
                document.getElementById("jqxbutton").click();
                return false;
            }
        }
       
    </script>
}

<div class="row">
    <div class="col-lg-2">
        <p>
            <span class="circle bg-warning"><i class="fa fa-cog"></i></span>
            <b>Search</b> Panel
        </p>
    </div>
</div>
<div class="row">
    <form>
        <div class="col-lg-2">
            <div id="jqxDropDownListType"></div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" id="tCod" placeholder="Search..." onkeypress="return runScript(event)">
                <span class="input-group-btn">
                    <button id="jqxbutton" class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
<br />
<div class="row">
    <div class="col-lg-8">
        <div id="AnaPanel">
        </div>
    </div>
    <div class="col-lg-4">
        <div style="display:none" id="MapPanel">
            <section class='widget'>
                <header>
                    <h6><strong>Map</strong> Form</h6>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a><a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <hr />
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group row">
                                <div id="map_canvas" style="height: 380px;"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="row">
        <div id="gridbyCustomer"></div>
    </div>
    <div id="codegrid" class="row">
        <div id="grid">

        </div>
    </div>
</div>
<div id="WOcollapse" class="panel-collapse collapse">
    <div id="WOPanel">
    </div>
</div>
<div id="collapseOne" class="panel-collapse collapse">
    <section class="widget">
        <header>
            <h6><strong>Work Order</strong> form</h6>
            <div class="widget-controls">
                <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#"><i class="fa fa-refresh"></i></a>
                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <hr />
        <div class="widget-body">
            <form class="form-horizontal" role="form" id="workorderform">
                <fieldset>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="search-input">Work Order scheduled date</label>
                                <div class="input-group">
                                    <div id="ScheduledDate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Work Order type</label>
                                <div class="input-group">
                                    <div id="WorkOrderType"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Customer Order</label>
                                <div class="input-group">
                                    <input type="text" id="tCustomerOrder" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input"> Technician</label>
                                <div class="input-group">
                                    <div id="TechnicianAssigned"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Wbs</label>
                                <div class="input-group">
                                    <div id="Wbs"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">IC</label>
                                <div class="input-group">
                                    <div id="IC"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Nota</label>
                                <div class="input-group">
                                    <textarea id="editor">
                        </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</div>
<div id="buttonbar" class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-7">
            <button type="submit" id="BtnWorkOrder" class="btn btn-primary" data-toggle="collapse" href="#collapseOne">New Work Order</button>
            <button type="submit" class="btn btn-warning" id="BtnSaveWorkOrder">Save Changes</button>
            <button type="button" id="BtnClose" class="btn btn-inverse" data-toggle="collapse" href="#collapseOne">Cancel</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>EaiwebMVC Warning</b></h5>
            </div>
            <div class="modal-body">
                <p>Sorry, i can't find any plant with this code..</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="jqxOk" style="color: #eeeeee;">
    Work Order upload succeful!
</div>
<div id="jqxNOk" style="color: #eeeeee;">
    Error upload Work Order!
</div>
<div id="user" style="visibility:hidden">@usr.username</div>
<div id="uid" style="visibility:hidden">@usr.uid</div>
<div hidden="hidden" id='selectionlog'></div>
<div hidden="hidden" id='customercode'></div>
<div hidden="hidden" id='wbscode'></div>
<div hidden="hidden" id='welement'></div>
<div hidden="hidden" id='welement'></div>
