﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Planning Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {

    <script type="text/javascript" src="~/jqwidgets/jqx-all.js"></script>

    @*<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpivot.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpivotgrid.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpivotdesigner.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdragdrop.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcalendar.js"></script>*@


    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            $.ajax({
                url: '/api/WebApiGetPlanning', // slt_queryCustom
                type: 'GET',
                traditional: true,
                success: function (result) {
                    //var array = $.map(result, function (value, key) {
                    //    return [[key, value]];
                    //});

                    //console.log(result);
                //}
            //});
                    var sourceWorkOrder =
                        {
                            localdata: result,
                            datatype: "array",
                            //datatype: "json",
                            dataFields: [
                                { name: 'pdr', type: 'string' },
                                { name: 'customer', type: 'string' },
                                //{ name: 'network', type: 'string' },
                                //{ name: 'plant', type: 'string' },
                                //{ name: 'address', type: 'string' },
                                //{ name: 'city', type: 'string' },
                                //{ name: 'zipCode', type: 'string' },
                                //{ name: 'prov', type: 'string' },
                                //{ name: 'todoWO', type: 'int'},
                                //{ name: 'executionDate', type: 'int'},
                                { name: 'technician', type: 'string' },
                                { name: 'workOrdeType', type: 'string' },
                                { name: 'workOrder', type: 'int' },
                                //{ name: 'wbs', type: 'string' },
                                //{ name: 'meterSn', type: 'string' },
                                //{ name: 'meterBrand', type: 'string' },
                                //{ name: 'deviceSn', type: 'string' },
                                //{ name: 'deviceBrand', type: 'string' },
                                //{ name: 'deviceModel', type: 'string' },
                                //{ name: 'activity', type: 'string' }
                            ],
                            //id: 'workOrder',
                            //async: false,
                            //url: '/api/WebApiGetPlanning' // slt_queryCustom
                        };

                    var dataAdapter = new $.jqx.dataAdapter(sourceWorkOrder);
                    dataAdapter.dataBind();

                    var pivotDataSource = new $.jqx.pivot(
                        dataAdapter,
                        {
                            pivotValuesOnRows: false,
                            fields: [
                                //{ dataField: 'ispettore', text: 'Ispettore' },
                                { dataField: 'pdr', text: 'Pdr' },
                                { dataField: 'customer', text: 'Distributore' },
                                //{ dataField: 'network', text: 'Sottorete' },
                                //{ dataField: 'plant', text: 'Utente' },
                                //{ dataField: 'address', text: 'Indirizzo' },
                                //{ dataField: 'city', text: 'Città' },
                                //{ dataField: 'zipCode', text: 'CAP' },
                                //{ dataField: 'prov', text: 'Provincia' },
                                //{ dataField: 'todoWO', text: 'Intervento Pianificato' },
                                //{ dataField: 'executionDate', text: 'Intervento Eseguito' },
                                { dataField: 'technician', text: 'Tecnico Assegnato' },
                                { dataField: 'workOrdeType', text: 'Tipo Odl' },
                                { dataField: 'workOrder', text: 'Odl' },
                                //{ dataField: 'wbs', text: 'Wbs' },
                                //{ dataField: 'meterSn', text: 'Matricola Contatore' },
                                //{ dataField: 'meterBrand', text: 'Marca Contatore' },
                                //{ dataField: 'deviceSn', text: 'Matricola Convertitore' },
                                //{ dataField: 'deviceBrand', text: 'Marca convertitore' },
                                //{ dataField: 'deviceModel', text: 'Modello Convertitore' },
                                //{ dataField: 'activity', text: 'Attività' }
                            ],
                            rows: [
                                { dataField: 'technician', text: 'Tecnico Assegnato' },
                                { dataField: 'customer', text: 'Distributore' },
                                { dataField: 'pdr', text: 'Pdr' }
                            ],
                            columns: [{ dataField: 'workOrdeType', align: 'left' }],
                            totals: { rows: { subtotals: false, grandtotals: true }, columns: { subtotals: false, grandtotals: true } },
                            values: [
                                { dataField: 'workOrder', 'function': 'count', text: 'Number ToDo' }
                            ]
                            //filters: [ //???
                            //    {
                            //        dataField: 'workOrdeType',
                            //        text: 'Tipo Odl',
                            //        filterFunction: function (value) {
                            //            if (value == "Manutenzione" || value == "Verifica DM75")
                            //                return false;
                            //            return true;
                            //        }
                            //    }
                            //],
                            //values: [ //???
                            //    { dataField: 'todoWO', 'function': 'count', text: 'Number todo' },
                            //    { dataField: 'executionDate', 'function': 'count', text: 'Number executed' }
                            //]
                        });

                    // create a pivot grid
                    $('#divPivotGrid').jqxPivotGrid(
                        {
                            source: pivotDataSource,
                            treeStyleRows: true,
                            autoResize: true,
                            multipleSelectionEnabled: true
                        });
                    var pivotGridInstance = $('#divPivotGrid').jqxPivotGrid('getInstance');
                    //pivotGridInstance.refresh();
                    // create a pivot grid
                    $('#divPivotGridDesigner').jqxPivotDesigner(
                    {
                        type: 'pivotGrid',
                        target: pivotGridInstance
                    });
                    // handle double click on grid cells
                    $('#divPivotGrid').on('pivotcelldblclick', function (e) {
                        //if (!$('#drillThroughWindow').jqxWindow('isOpen')) {
                        //    var args = e.args;
                        //    drillThrough(args.pivotRow, args.pivotColumn);
                        //}
                        drillThrough(e.args.pivotRow, e.args.pivotColumn);
                    });

                    //// handle window open events
                    //$('#drillThroughWindow').on('open', function (e) {
                    //    pivotGridInstance.selectionEnabled = false;
                    //});
                    //// handle window open events
                    //$('#drillThroughWindow').on('close', function (e) {
                    //    pivotGridInstance.selectionEnabled = true;
                    //});

                    //var offset = $('#divPivotGrid').position();
                    //// create popup window
                    //$('#drillThroughWindow').jqxWindow({
                    //    autoOpen: false,
                    //    position: { x: offset.left + 350, y: offset.top + 150 },
                    //    showCollapseButton: false,
                    //    //maxHeight: 400, maxWidth: 700, minHeight: 200, minWidth: 200,
                    //    height: 470, width: 1000,
                    //    initContent: function () {
                    //        //$('#tableSrcRecords').jqxDataTable({ width: '100%', height: '100%' });
                    //    }
                    //});

                    function drillThrough(pivotRow, pivotColumn) {
                        $("#divDrillThrough").hide();
                        var rows = pivotGridInstance.getPivotCells().drillThroughCell(pivotRow, pivotColumn);
                        if (rows.length > 0) {
                            $("#divDrillThrough").show();
                            var drillThroughRows = [];
                            for (var i = 0; i < rows.length; i++)
                                drillThroughRows[i] = result[rows[i]]
                            var drillThroughSrc =
                            {
                                localData: drillThroughRows,
                                dataType: "array",
                                dataFields:
                                [
                                    { name: 'pdr', type: 'string' },
                                    { name: 'latitudine', type: 'string' },
                                    { name: 'longitudine', type: 'string' },
                                    { name: 'remi', type: 'string' },
                                    { name: 'customerID', type: 'string' },
                                    { name: 'customer', type: 'string' },
                                    { name: 'network', type: 'string' },
                                    { name: 'plant', type: 'string' },
                                    { name: 'address', type: 'string' },
                                    { name: 'city', type: 'string' },
                                    { name: 'zipCode', type: 'string' },
                                    { name: 'prov', type: 'string' },
                                    { name: 'planningDate', type: 'date' },
                                    { name: 'technician', type: 'string' },
                                    { name: 'workOrdeType', type: 'string' },
                                    { name: 'nota', type: 'string' },
                                    { name: 'workOrder', type: 'int' },
                                    { name: 'workOrderChild', type: 'int' },
                                    { name: 'executionDate', type: 'date' },
                                    { name: 'ucStop', type: 'string' },
                                    { name: 'vmStop', type: 'string' },
                                    { name: 'vbStop', type: 'string' },
                                    { name: 'ucRestart', type: 'string' },
                                    { name: 'vmRestart', type: 'string' },
                                    { name: 'vbRestart', type: 'string' },
                                    { name: 'wbs', type: 'string' },
                                    { name: 'iCAgreement', type: 'string' },
                                    { name: 'meterSn', type: 'string' },
                                    { name: 'meterBrand', type: 'string' },
                                    { name: 'deviceSn', type: 'string' },
                                    { name: 'deviceBrand', type: 'string' },
                                    { name: 'deviceModel', type: 'string' },
                                    { name: 'activity', type: 'string' }
                                ]
                            };
                            var drillThroughDataAdapter = new $.jqx.dataAdapter(drillThroughSrc);

                            $("#tableSrcRecords").jqxGrid(
                            {
                                pageable: true,
                                width: '100%',
                                height: '100%',
                                pagerButtonsCount: 10,
                                source: drillThroughDataAdapter,
                                sortable: true,
                                enablebrowserselection: true,
                                filterable: true,
                                filtermode: 'excel',
                                showfilterrow: true,
                                columnsautoresize: true,
                                columnsResize: true,
                                columns: [
                                    { dataField: 'pdr', text: 'PDR' },
                                    { dataField: 'latitudine', text: 'Latitudine' },
                                    { dataField: 'longitudine', text: 'Longitudine' },
                                    { dataField: 'remi', text: 'Remi' },
                                    { dataField: 'customerID', type: 'ID Distributore' },
                                    { dataField: 'customer', text: 'Distributore' },
                                    { dataField: 'network', text: 'Sottorete' },
                                    { dataField: 'plant', text: 'Utente' },
                                    { dataField: 'address', text: 'Indirizzo' },
                                    { dataField: 'city', text: 'Città' },
                                    { dataField: 'zipCode', text: 'CAP' },
                                    { dataField: 'prov', text: 'Provincia' },
                                    { dataField: 'planningDate', text: 'Data Programmata', filtertype: 'date', cellsformat: "dd/MM/yyyy HH:mm:ss" },
                                    { dataField: 'technician', text: 'Tecnico Assegnato' },
                                    { dataField: 'workOrdeType', text: 'Tipo ODL' },
                                    { dataField: 'nota', text: 'Nota' },
                                    { dataField: 'workOrder', text: 'ODL' },
                                    { dataField: 'workOrderChild', text: 'ODL Figlio' },
                                    { dataField: 'executionDate', text: 'Data Intervento', filtertype: 'date', cellsformat: "dd/MM/yyyy HH:mm:ss" },
                                    { dataField: 'ucStop', text: 'UcStop' },
                                    { dataField: 'vmStop', text: 'VmStop' },
                                    { dataField: 'vbStop', text: 'VbStop' },
                                    { dataField: 'ucRestart', text: 'UcRestart' },
                                    { dataField: 'vmRestart', text: 'VmRestart' },
                                    { dataField: 'vbRestart', text: 'VbRestart' },
                                    { dataField: 'wbs', text: 'WBS' },
                                    { dataField: 'iCAgreement', text: 'ICAgreement' },
                                    { dataField: 'meterSn', text: 'Matricola Contatore' },
                                    { dataField: 'meterBrand', text: 'Marca Contatore' },
                                    { dataField: 'deviceSn', text: 'Matricola Convertitore' },
                                    { dataField: 'deviceBrand', text: 'Marca convertitore' },
                                    { dataField: 'deviceModel', text: 'Modello Convertitore' },
                                    { dataField: 'activity', text: 'Attività' }
                                ],
                                showtoolbar: true,
                                rendertoolbar: function (statusbar) {
                                    var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                                    var exportButton = $("<input type='button' value='Export to Excel' id='excelExport' />");
                                    container.append(exportButton);
                                    var resColButton = $("<input type='button' value='Resize Columns' id='autoResCol' style='margin-left: 5px;' />");
                                    container.append(resColButton);
                                    statusbar.append(container);
                                    exportButton.jqxButton();//{ template: "primary" });
                                    exportButton.click(function () {
                                        $("#tableSrcRecords").jqxGrid('exportdata', 'xls', 'WorkOrderList');
                                    });
                                    resColButton.jqxButton();//{ template: "primary" });
                                    resColButton.click(function () {
                                        $("#tableSrcRecords").jqxGrid('autoresizecolumns', 'all');
                                    });
                                },
                                ready: function () {
                                    $("#tableSrcRecords").jqxGrid({
                                        rendered: function (event) {
                                            $('#tableSrcRecords').jqxGrid('autoresizecolumns', 'all');
                                        }
                                    });
                                    $("#tableSrcRecords").on("pagechanged", function (event) {
                                        $('#tableSrcRecords').jqxGrid('autoresizecolumns', 'all');
                                    });
                                    $('#tableSrcRecords').jqxGrid('autoresizecolumns', 'all');
                                }
                            });

                            var wTitle = pivotRow.text + " - " + pivotColumn.parentItem.text + " - " + pivotColumn.text;
                            $('#gridHeader').text(wTitle);
                            //$('#drillThroughWindow').jqxWindow({ title: wTitle });
                            //$('#drillThroughWindow').jqxWindow('open');
                        }
                    }
                }
            });

        });
    </script>
}

    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="circle bg-danger"><i class="fa fa-calendar-check-o"></i></span>
                <b>Planning</b> List
            </p>
        </div>
        <div class="col-lg-6">
        </div>
    </div>

<div class="row">
    <div class="col-md-2">
        <div id="divPivotGridDesigner" style="height: 400px; width: 100%;">
        </div>
    </div>
    <div class="col-md-10">
        <div id="divPivotGrid" style="width: 100%;">
            @*height: 1200px;*@
        </div>


        @*<div id="drillThroughWindow" style="display:none;">
                <div id="windowHeader">
                    Drillthrough records
                </div>
                <div style="overflow: hidden;" id="windowContent">
                    <div id="tableSrcRecords" style="width: 100%; height: 100%;"></div>
                </div>
            </div>*@
    </div>
</div>
<div class="row m-t-1" id="divDrillThrough" style="display:none">
    <div class="col-md-12">
        <p><strong id="gridHeader"></strong></p>

        <div id="tableSrcRecords" style="width: 100%;"></div>
    </div>
</div>
<div id="user" style="visibility:hidden">@usr.username</div>
<div id="uid" style="visibility:hidden">@usr.uid</div>
