﻿@{
    ViewData["Title"] = "Job Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    @*
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    @*
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@
<script src="~/jqwidgets/jqx-all.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>

<link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
<style type="text/css">
    .jqx-grid-column-header,
    .jqx-grid-cell {
        font-size: 11px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dataFrom").jqxDateTimeInput({
            width: '150px',
            height: '25px',
            theme: 'metro',
            formatString: "dd/MM/yyyy",
            animationType: 'fade',
            readonly: true
        });
        $("#dataTo").jqxDateTimeInput({
            width: '150px',
            height: '25px',
            theme: 'metro',
            formatString: "dd/MM/yyyy",
            animationType: 'fade',
            readonly: true
        });
        $('#jqxtabs').jqxTabs({


        });
      
        var listSource = [{ label: 'SnMeter', value: 'snMeter', checked: true }, { label: 'BrandMeter', value: 'brandMeter', checked: true }, { label: 'Città', value: 'city', checked: true }, { label: 'Prov.', value: 'province', checked: true }, { label: 'CAP', value: 'zipCode', checked: true }, { label: 'Note', value: 'note', checked: true }, { label: 'UcStop', value: 'ucStop', checked: false }, { label: 'VmStop', value: 'vmStop', checked: false }, { label: 'VbStop', value: 'vbStop', checked: false }, { label: 'UcRestart', value: 'ucRestart', checked: false }, { label: 'VmRestart', value: 'vmRestart', checked: false }, { label: 'VbRestart', value: 'vbRestart', checked: false }];
        $("#jqxlistbox").jqxListBox({ source: listSource, width: 200, checkboxes: true });
        $("#jqxlistbox").on('checkChange', function (event) {
            $("#grid").jqxGrid('beginupdate');
            if (event.args.checked) {
                $("#grid").jqxGrid('showcolumn', event.args.value);
            }
            else {
                $("#grid").jqxGrid('hidecolumn', event.args.value);
            }
            $("#grid").jqxGrid('endupdate');
        });
        var imagerenderer = function (row, datafield, value) {
            return '<img style="margin-left: 5px;"  height="600" width="800" src=' + value + '>';
        }
        for (m = 0; m < 10; m++) {
            $("#gridImg").jqxGrid('setrowheight', m, 800);
        }

        $("#jqxButton").on('click', function (event) {
            var dataFrom = $('#dataFrom').val().replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$2-$1");;
            var dataTo = $('#dataTo').val().replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$2-$1");;
            var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'odl', type: 'int' },
                        { name: 'workOrderType', type: 'string' },
                        { name: 'openDate', type: 'date' },
                        { name: 'executionDate', type: 'date' },
                        { name: 'pdr', type: 'string' },
                        { name: 'snMeter', type: 'string' },
                        { name: 'brandMeter', type: 'string' },
                        { name: 'snDevice', type: 'string' },
                        { name: 'deviceModel', type: 'string' },
                        { name: 'fw', type: 'string' },
                        { name: 'customerName', type: 'string' },
                        { name: 'network', type: 'string' },
                        { name: 'plantName', type: 'string' },
                        { name: 'address', type: 'string' },
                        { name: 'city', type: 'string' },
                        { name: 'province', type: 'string' },
                        { name: 'zipCode', type: 'string' },
                        { name: 'ucStop', type: 'string' },
                        { name: 'vmStop', type: 'string' },
                        { name: 'vbStop', type: 'string' },
                        { name: 'ucRestart', type: 'string' },
                        { name: 'vmRestart', type: 'string' },
                        { name: 'vbRestart', type: 'string' },
                        { name: 'note', type: 'string' },
                        { name: 'workerMan', type: 'string' },
                        { name: 'stato', type: 'int' },
                        { name: 'isThereVerification', type: 'string' },
                        { name: 'verificationResult', type: 'string' },
                        { name: 'reportName', type: 'string' }
                    ],
                    url: '/api/WebApiGetWOData?from=' + dataFrom + '&to=' + dataTo
                };

            var dataAdapter = new $.jqx.dataAdapter(source); //, {

                //loadComplete: function () {
                    $("#grid").jqxGrid(
                        {
                            width: '100%',
                            height: '40%',
                            filterable: true,
                            filtermode: 'excel',
                            showfilterrow: true,
                            columnsresize: true,
                            columnsreorder: true,
                            groupable: true,
                            altrows: true,
                            sortable: true,
                            scrollmode: 'deferred',
                            selectionmode: 'multiplecellsadvanced',
                            enablebrowserselection: true,
                            theme: 'energyblue',
                            source: dataAdapter, // MAIN GRID - slt_queryArchiveGetOdl
                            showstatusbar: true,
                            renderstatusbar: function (statusbar) {
                                // appends buttons to the status bar.
                                var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                                var exportButton = $("<button>Excel</button>");
                                var closeButton = $("<button>Close</button>");
                                container.append(exportButton);
                                container.append(closeButton);
                                statusbar.append(container);
                                exportButton.jqxButton({ width: 80, height: 25 });
                                closeButton.jqxButton({ width: 80, height: 25 });
                                // add new row.
                                exportButton.click(function (event) {
                                    $("#grid").jqxGrid('exportdata', 'xls', 'jqxGrid', true);
                                });
                            },
                            columns: [
                                { text: "Odl", datafield: "odl", width: 50 },
                                { text: "Tipo Odl", datafield: "workOrderType", width: 100 },
                                { text: "Data Apertura", datafield: "openDate", filtertype: 'range', cellsformat: 'dd/MM/yyyy', width: '6%' },
                                { text: "Data Esecuzione:", datafield: "executionDate", filtertype: 'range', cellsformat: 'dd/MM/yyyy', width: '6%' },
                                { text: "Pdr", datafield: "pdr", width: '8%' },
                                { text: "SnMeter", datafield: "snMeter", width: '8%' },
                                { text: "BrandMeter", datafield: "brandMeter", width: '8%' },
                                { text: "SnDevice", datafield: "snDevice", width: '8%' },
                                { text: "DeviceModel", datafield: "deviceModel" },
                                //{ text: "Fw", datafield: "fw" },
                                { text: "Distributore", datafield: "customerName" },
                                { text: "Rete", datafield: "network" },
                                { text: "Nome Impianto", datafield: "plantName" },
                                { text: "Impianto", datafield: "address" },
                                { text: "Città", datafield: "city" },
                                { text: "Prov.", datafield: "province", width: 30 },
                                { text: "CAP", datafield: "zipCode" },
                                { text: "UcStop", datafield: "ucStop", hidden: true },
                                { text: "VmStop", datafield: "vmStop", hidden: true },
                                { text: "VbStop", datafield: "vbStop", hidden: true },
                                { text: "UcRestart", datafield: "ucRestart", hidden: true },
                                { text: "VmRestart", datafield: "vmRestart", hidden: true },
                                { text: "VbRestart", datafield: "vbRestart", hidden: true },
                                { text: "Note", datafield: "note", width: '15%' },
                                { text: "Tecnico", datafield: "workerMan", width: '8%' },
                                { text: "Stato", datafield: "stato" },
                                { text: "VP", datafield: "isThereVerification" },
                                { text: "Esito", datafield: "verificationResult" },
                                { text: "reportName", datafield: "reportName", hidden: true },
                                {
                                    text: 'View', datafield: 'View', width: 60, columntype: 'button', cellsrenderer: function () {
                                        return "View";
                                    }, buttonclick: function (row) {
                                        // open the popup window when the user clicks a button.
                                        //window.open('Report', '_parent');
                                        var odl = $('#grid').jqxGrid('getcellvalue', row, 'odl');
                                        var pdr = $('#grid').jqxGrid('getcellvalue', row, 'pdr');
                                        var report = $('#grid').jqxGrid('getcellvalue', row, 'reportName');

                                        var sourceImg =
                                            {
                                                datatype: "json",
                                                datafields: [
                                                    { name: 'odl', type: 'int' },
                                                    { name: 'pdr', type: 'string' },
                                                    { name: 'img', type: 'string' },
                                                    { name: 'path', type: 'string' },
                                                    { name: 'vbStop', type: 'string' },
                                                    { name: 'vmStop', type: 'string' },
                                                    { name: 'ucStop', type: 'string' },
                                                    { name: 'vbRestart', type: 'string' },
                                                    { name: 'vmRestart', type: 'string' },
                                                    { name: 'ucRestart', type: 'string' }
                                                ],
                                                url: '/api/WebApiGetImgWOList/' + odl
                                            };

                                        var ImgDa = new $.jqx.dataAdapter(sourceImg);
                                        $("#gridImg").jqxGrid(
                                            {
                                                width: '100%',
                                                autorowheight: true,
                                                autoheight: true,
                                                filterable: false,
                                                columnsresize: true,
                                                groupable: false,
                                                altrows: true,
                                                sortable: true,
                                                scrollmode: 'deferred',
                                                enablehover: true,
                                                theme: 'energyblue',
                                                source: ImgDa,
                                                columns: [
                                                    { text: "img", datafield: "img", width: 800, cellsrenderer: imagerenderer },
                                                    //{ text: "img", datafield: "img"},
                                                    { text: "vbStop", datafield: "vbStop" },
                                                    { text: "vmStop", datafield: "vmStop" },
                                                    { text: "ucStop", datafield: "ucStop" },
                                                    { text: "vbRestart", datafield: "vbRestart" },
                                                    { text: "vmRestart", datafield: "vmRestart" },
                                                    { text: "ucRestart", datafield: "ucRestart" }
                                                ]
                                            });
                                        $('#report').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2frsEmployee%2f' + report + '&ID_MAN=' + odl + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');
                                        $('#reportRDL').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2fEnrollmentProd%2fRDL&IdOdl=' + odl + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');

                                    }
                                },
                                {
                                    text: 'Download', datafield: 'Download', width: 60, columntype: 'button', hidden: true
                                }
                            ]
                        });
                //}
            //});
            //dataAdapter.dataBind();
        });
    });  
</script>
}
<div class="row">
    <div class="col-lg-6">
        <p>
            <span class="circle bg-danger"><i class="fa fa-archive"></i></span>
            <b>Archive</b> List
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <section class="widget">
            <header>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#"><i class="fa fa-refresh"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <form role="form">
                    <fieldset>
                        <legend><strong>Pannello</strong> Date</legend>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="search-input">Data da:</label>
                                    <div class="input-group">
                                        <div id='dataFrom'></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="search-input">Data a:</label>
                                    <div class="input-group">
                                        <div id='dataTo'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="button" value="Cerca" id="jqxButton" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="widget">
            <header>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#"><i class="fa fa-refresh"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <form role="form">
                    <fieldset>
                        <legend><strong>Pannello</strong> Campi Aggiuntivi</legend>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div style="margin-top: 20px" id="jqxlistbox"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div id="grid"></div>
    <div id="jqxtabs">
        <ul style='margin-left: 20px;'>
            <li>MIT</li>
            <li>RDL</li>
            <li>Photo</li>
            <li>Note</li>
        </ul>
        <div>
            <div id="report"></div>
        </div>
        <div>
            <div id="reportRDL"></div>
        </div>
        <div>
            <div id="gridImg">
            </div>
        </div>
        <div>
            <div id="gridNote">
            </div>
        </div>
    </div>
</div>
<div id="jqxOk" style="color: #eeeeee;">
    Work Order complete succefully!
</div>
<div id="jqxNOk" style="color: #eeeeee;">
    Error complete Work Order!
</div>
