﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Work Order Manager";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcolorpicker.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxeditor.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script src="~/jqwidgets/jqx-all.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <style type="text/css">
        .jqx-grid-column-header,
        .jqx-grid-cell {
            font-size: 10px;
        }
    </style>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCYbXIcgnBKMvFtr1azwBTnooVnKGropk0" type="text/javascript"></script>
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYbXIcgnBKMvFtr1azwBTnooVnKGropk0"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MapPanel').hide();
            // Section data

            var customervalue = "";

            //var sourceCustomer =
            //    {
            //        datatype: "json",
            //        datafields: [
            //            { name: 'customerID', type: 'int' },
            //            { name: 'customerDescription', type: 'string' }
            //        ],
            //        url: '/api/WebApiCustomer'
            //    };
            //var sourcePlantByCustomer =
            //    {
            //        datatype: "json",
            //        datafields: [
            //            { name: 'elementCode', type: 'string' },
            //            { name: 'elementName', type: 'string' },
            //            { name: 'customerID', type: 'int' },
            //            { name: 'customerDescription', type: 'string' },
            //            { name: 'elementAddress', type: 'string' },
            //            { name: 'elementStreetNumber', type: 'string' },
            //            { name: 'elementZipCode', type: 'string' },
            //            { name: 'elementCity', type: 'string' },
            //            { name: 'elementPrv', type: 'string' },
            //            { name: 'elementRegion', type: 'string' },
            //            { name: 'elementState', type: 'string' }
            //        ],
            //        url: '/api/ChkAPIPlant'
            //    };
            //var source =
            //    {
            //        datatype: "json",
            //        datafields: [
            //            { name: 'elementCode', type: 'string' },
            //            { name: 'elementName', type: 'string' }
            //        ],
            //        url: '/api/ChkAPIPlant'
            //    };
            var sourceWorkMan =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'workmanID', type: 'int' },
                        { name: 'workmanName', type: 'string' },
                    ],
                    url: '/api/webapigetworkman'
                };
            var sourceWorkOrderType =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'workOrderTypeID', type: 'int' },
                        { name: 'workOrderType', type: 'string' },
                    ],
                    url: '/api/WebApiGetWorkOrderType'
                };
            //var dataAdapter = new $.jqx.dataAdapter(source);
            //var daCustomer = new $.jqx.dataAdapter(sourceCustomer);
            var daWorkMan = new $.jqx.dataAdapter(sourceWorkMan);
            var daWorkOrderType = new $.jqx.dataAdapter(sourceWorkOrderType);
            // Section for controls creation

            $("#jqxbutton").on('click', function (event) {

                if (customervalue == "") {
                    //if (selectionlog != "") {
                    $('#gridbyCustomer').jqxGrid('destroy');
                    $('#MapPanel').show();
                    $('#AnaPanel').show();
                    var cod;
                    if ($(tCod).val() != '') {
                        cod = $(tCod).val().trim();
                    }
                    else {
                        $("#myModal").modal();
                    }
                    var sourceID =
                        {
                            datatype: "json",
                            datafields: [
                                { name: 'elementCode', type: 'string' },
                                { name: 'elementName', type: 'string' },
                                { name: 'customerID', type: 'int' },
                                { name: 'customerDescription', type: 'string' },
                                { name: 'elementAddress', type: 'string' },
                                { name: 'elementStreetNumber', type: 'string' },
                                { name: 'elementZipCode', type: 'string' },
                                { name: 'elementCity', type: 'string' },
                                { name: 'elementPrv', type: 'string' },
                                { name: 'elementRegion', type: 'string' },
                                { name: 'elementState', type: 'string' },
                                { name: 'elementLat', type: 'float' },
                                { name: 'elementLng', type: 'float' }
                            ],
                            url: '/api/ChkAPIPlant/' + cod
                        };
                    var sourceOdl =
                        {
                            datatype: "json",
                            datafields: [
                                { name: 'wopk', type: 'string' },
                                { name: 'woid', type: 'int' },
                                { name: 'woElement', type: 'string' },
                                { name: 'woType', type: 'string' },
                                { name: 'woState', type: 'int' },
                                { name: 'woStateDescription', type: 'string' },
                                { name: 'createdBy', type: 'string' },
                                { name: 'createdDate', type: 'datetime' },
                                { name: 'assignedTo', type: 'string' },
                                { name: 'scheduledDate', type: 'datetime' },
                                { name: 'executionDate', type: 'datetime' },
                                { name: 'cancelledBy', type: 'string' },
                                { name: 'cancelledDate', type: 'datetime' },
                                { name: 'activity', type: 'string' },
                                { name: 'reasonText', type: 'string' }
                            ],
                            url: '/api/webapigetworkorder/' + cod
                        };

                    var dataAdapterID = new $.jqx.dataAdapter(sourceID, {
                        beforeLoadComplete: function (records) {
                            if (records.length === 0) {
                                $("#AnaPanel").css('visibility', 'hidden');
                                $("#MapPanel").css('visibility', 'hidden');
                            }
                        },
                        loadComplete: function () {
                            // get data records.
                            var records = dataAdapterID.records;
                            var length = records.length;

                            // loop through the records and display them in a table.
                            var html = "<section class='widget'><header><h6><strong>Register</strong> Form</h6><div class='widget-controls'><a href='#'><i class='glyphicon glyphicon-cog'></i></a><a href='#'><i class='fa fa-refresh'></i></a>";
                            html += "<a href='#' data-widgster='close'><i class='glyphicon glyphicon-remove'></i></a></div></header><hr /><div class='widget-body'><form class='form-horizontal' role='form'>";
                            html += "<fieldset>"
                            for (var i = 0; i < length; i++) {
                                var record = records[i];
                                $("#customercode").empty();
                                var valueelement = $("<div></div>");
                                valueelement.text(record.customerID);
                                $("#customercode").append(valueelement);
                                $("#welement").empty();
                                var welem = $("<div></div>");
                                welem.text(record.elementCode);
                                $("#welement").append(welem);
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Code</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementCode + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Name</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementName + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Customer Code</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.customerID + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Customer</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.customerDescription + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Address</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementAddress + ', ' + record.elementStreetNumber + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>ZIP Code</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementZipCode + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>City</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'>" + record.elementCity + ' (' + record.elementPrv + ')' + "</label>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='form-group row'>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-right'><strong>Plant Typology</strong></label>";
                                html += "<div>";
                                html += "<label for='normal-field' class='col-md-6 form-control-label text-md-left'></label>";
                                html += "</div>";
                                html += "</div>";
                                html += "</fieldset>";
                                html += "</form></div></section>";
                            }
                            $("#AnaPanel").html(html);

                            // Google Maps
                            google.maps.visualRefresh = true;
                            var Plant = new google.maps.LatLng(record.elementLat, record.elementLng);
                            var mapOptions = {
                                zoom: 10,
                                center: Plant,
                                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                            };
                            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                            var marker = new google.maps.Marker({
                                'position': new google.maps.LatLng(record.elementLat, record.elementLng),
                                'map': map,
                                'title': record.elementName
                            });

                            // Make the marker-pin blue!
                            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                            // put in some information about each json object - in this case, the opening hours.
                            var infowindow = new google.maps.InfoWindow({
                                content: "<div class='infoDiv'><h2>" + record.elementName + "</div></div>"
                            });

                            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });
                        }
                    });
                    dataAdapterID.dataBind();
                    var daOdl = new $.jqx.dataAdapter(sourceOdl);
                    $("#grid").jqxGrid(
                        {
                            width: '100%',
                            filterable: true,
                            columnsresize: true,
                            groupable: true,
                            pageable: false,
                            theme: 'energyblue',
                            source: daOdl,
                            autoheight: true,
                            autorowheight: true,
                            selectionmode: 'singlecell',
                            ready: function () {
                                var rows = $("#grid").jqxGrid('getrows');
                                if (rows.length === 0) {
                                    $("#grid").css('visibility', 'hidden');
                                }
                            },
                            columns: [
                                { text: "ID", datafield: "woid", width: "60px" },
                                { text: "Tipologia", datafield: "woType" },
                                { text: "Stato", datafield: "woState" },
                                { text: "Descrizione Stato", datafield: "woStateDescription" },
                                { text: "Aperto da", datafield: "createdBy" },
                                { text: "Aperto data", datafield: "createdDate" },
                                { text: "Assegnato a", datafield: "assignedTo" },
                                { text: "Data Schedulazione", datafield: "scheduledDate" },
                                { text: "Data Esecuzione", datafield: "executionDate" },
                                { text: "Annullato da:", datafield: "cancelledBy" },
                                { text: "Data Annullamento", datafield: "cancelledDate" },
                                { text: "Reason Text", datafield: "reasonText", width: 150 },
                                { text: "Attività", datafield: "activity", width: 300 }
                            ]
                        });
                    //}
                    //else {
                    //    $("#jqxwindow ").jqxWindow({ height: 90, width: 150 });
                    //}
                }
                else {
                    $('#grid').jqxGrid('destroy');
                    $('#codegrid').hide();
                    $('#MapPanel').html('');
                    $('#AnaPanel').html('');
                    var cod = $("#customercode").text();
                    var sourceID =
                        {
                            datatype: "json",
                            datafields: [
                                { name: 'elementCode', type: 'string' },
                                { name: 'elementName', type: 'string' },
                                { name: 'customerID', type: 'int' },
                                { name: 'customerDescription', type: 'string' },
                                { name: 'elementAddress', type: 'string' },
                                { name: 'elementStreetNumber', type: 'string' },
                                { name: 'elementZipCode', type: 'string' },
                                { name: 'elementCity', type: 'string' },
                                { name: 'elementPrv', type: 'string' },
                                { name: 'elementRegion', type: 'string' },
                                { name: 'elementState', type: 'string' }
                            ],
                            url: '/api/WebApiGetPlantbyCustomer/' + cod
                        };
                    var dataAdapterID = new $.jqx.dataAdapter(sourceID);
                    $("#gridbyCustomer").jqxGrid(
                        {
                            width: '100%',
                            filterable: true,
                            columnsresize: true,
                            groupable: true,
                            pageable: true,
                            theme: 'energyblue',
                            source: dataAdapterID,
                            autoheight: true,
                            columns: [
                                { text: "Code", datafield: "elementCode" },
                                { text: "Name", datafield: "elementName" },
                                { text: "Customer Code", datafield: "customerID" },
                                { text: "Customer", datafield: "customerDescription" }
                            ]
                        });
                }
            });
            $("#IC").jqxDropDownList(
                {
                    height: 25,
                    theme: 'summer'
                });
            $("#BtnWorkOrder").on('click', function (event) {
                var customervalue = $('#tCustomer').jqxInput('val');
                var customerID = $("#customercode").text();
                var sourceWBS =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'ic', type: 'string' },
                            { name: 'wbs', type: 'string' },
                        ],
                        url: '/api/ChkAPIIC/' + customerID
                    };
                var daWbs = new $.jqx.dataAdapter(sourceWBS);
                $("#Wbs").jqxDropDownList(
                    {
                        placeHolder: 'Please Choose:',
                        selectedIndex: -1,
                        source: daWbs,
                        displayMember: "wbs",
                        valueMember: "wbs",
                        height: 25,
                        incrementalSearch: true,
                        theme: 'summer'
                    });
                $('#Wbs').on('select', function (event) {
                    var args = event.args;
                    if (args) {
                        var item = args.item;
                        $("#wbscode").empty();
                        var valueelement = $("<div></div>");
                        valueelement.text(item.value);
                        $("#wbscode").append(valueelement);
                        var sourceIC =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'ic', type: 'string' },
                                    { name: 'wbs', type: 'string' },
                                ],
                                url: '/api/WebApiGetICWBS/' + item.value
                            };
                        var daIC = new $.jqx.dataAdapter(sourceIC);
                        $("#IC").jqxDropDownList(
                            {
                                selectedIndex: -1,
                                source: daIC,
                                displayMember: "ic",
                                valueMember: "ic",
                                height: 25,
                                theme: 'summer'
                            });
                    }
                });
            });
            $("#ScheduledDate").jqxDateTimeInput({
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });
            $("#TechnicianAssigned").jqxDropDownList(
                {
                    placeHolder: 'Please Choose:',
                    selectedIndex: -1,
                    source: daWorkMan,
                    displayMember: "workmanName",
                    valueMember: "workmanID",
                    height: 25,
                    incrementalSearch: true,
                    theme: 'summer'
                });
            $("#WorkOrderType").jqxDropDownList(
                {
                    placeHolder: 'Please Choose:',
                    selectedIndex: -1,
                    source: daWorkOrderType,
                    displayMember: "workOrderType",
                    valueMember: "workOrderTypeID",
                    height: 25,
                    incrementalSearch: true,
                    theme: 'summer'
                });
            $('#editor').jqxEditor({
                height: "400px",
                width: "100%"
            });
            $("#BtnSaveWorkOrder").on('click', function () {
                $('#workorderform').jqxValidator('validate');
                var welement = $("#welement").text();
                var cid = $("#customercode").text();
                var co = $("#tCustomerOrder").val();
                var stringschedule = $("#ScheduledDate").val();
                const [day, month, year] = stringschedule.split("/")
                var scheduleddate = new Date(year, month - 1, day, 00 + 2, 00, 00);
                var wot = $("#WorkOrderType").jqxDropDownList('getSelectedItem');
                var ta = $("#TechnicianAssigned").jqxDropDownList('getSelectedItem');
                var wstate = "10";
                var wdid = "1";
                var TechicianID = ta.value;
                var wbs = $("#Wbs").jqxDropDownList('getSelectedItem');
                var ic = $("#IC").jqxDropDownList('getSelectedItem');
                var note = $("#editor").val();
                var htmlString = '<div>' + note + '</div>';
                var clearNote = $(htmlString).text();
                var createddate = new Date();
                var createdby = $("#uid").text();

                var obj = {
                    "WOPK": "NG",
                    "WOElement": welement,
                    "WOType": wot.value,
                    "WOState": wstate,
                    "WODID": "1",
                    "WOCID": cid,
                    "CreatedBy": createdby,
                    "CreatedDate": createddate,
                    "AssignedTo": TechicianID,
                    "ScheduledDate": scheduleddate,
                    "ReasonCode": "10",
                    "ReasonText": clearNote,
                    "wbs": wbs.label,
                    "ic": ic.label,
                    "CustomerOrder": co
                };
                $.ajax({
                    type: 'POST',
                    url: '/api/WebApiGetWorkOrder',
                    data: JSON.stringify(obj),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function () {

                        $("#jqxOk").jqxNotification({
                            width: "auto", position: "top-right",
                            opacity: 0.9, autoOpen: true, autoClose: false, template: "success"
                        });
                        $("#grid").jqxGrid('updatebounddata');
                        dataAdapterID.dataBind();
                    },
                    error: function (req, err) {
                        $("#jqxNOk").jqxNotification({
                            width: "auto", position: "top-right",
                            opacity: 0.9, autoOpen: true, autoClose: false, template: "error"
                        });
                    }
                })
            });
            $('#workorderform').jqxValidator({
                rules: [{
                    input: "#WorkOrderType", message: "Work Order Type is required!", action: 'blur', rule: function (input, commit) {
                        var index = $("#WorkOrderType").jqxDropDownList('getSelectedIndex');
                        return index !== -1;
                    }
                },
                {
                    input: "#TechnicianAssigned", message: "Technician is required!", action: 'blur', rule: function (input, commit) {
                        var index = $("#TechnicianAssigned").jqxDropDownList('getSelectedIndex');
                        return index !== -1;
                    }
                },
                {
                    input: "#Wbs", message: "Wbs is required!", action: 'blur', rule: function (input, commit) {
                        var index = $("#Wbs").jqxDropDownList('getSelectedIndex');
                        return index !== -1;
                    }
                },
                {
                    input: '#editor',
                    message: 'A note is required !',
                    action: 'keyup',
                    rule: function (input, commit) {
                        var editorValue = $.trim($(input.val()).text());
                        if (editorValue === "" || editorValue === '') {
                            return false;
                        } else {
                            return true;
                        }
                    }
                }
                ], hintType: "label"
                //theme: 'summer'
            });
        });
    </script>
}


<div id="jqxOk" style="color: #eeeeee;">
    Work Order upload succeful!
</div>
<div id="jqxNOk" style="color: #eeeeee;">
    Error upload Work Order!
</div>
<div class="row">
    <form>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="tCod" placeholder="Search for Plant...">
                <span class="input-group-btn">
                    <button id="jqxbutton" class="btn btn-primary" type="button">Search!</button>
                </span>
            </div>
        </div>
    </form>
</div>
<br />
<div class="row">
    <div class="col-lg-6">
        <div id="AnaPanel">
        </div>
    </div>
    <div class="col-lg-6">
        <div style="display:none" id="MapPanel">
            <section class='widget'>
                <header>
                    <h6><strong>Map</strong> Form</h6>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a><a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <hr />
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group row">
                                <div id="map_canvas" style="height: 380px;"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="row">
        <div id="gridbyCustomer"></div>
    </div>
    <div id="codegrid" class="row">
        <div id="grid"></div>
    </div>
</div>
<div id="collapseOne" class="panel-collapse collapse">
    <section class="widget">
        <header>
            <h6><strong>Work Order</strong> form</h6>
            <div class="widget-controls">
                <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#"><i class="fa fa-refresh"></i></a>
                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <hr />
        <div class="widget-body">
            <form class="form-horizontal" role="form" id="workorderform">
                <fieldset>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="search-input">Work Order scheduled date</label>
                                <div class="input-group">
                                    <div id="ScheduledDate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Work Order type</label>
                                <div class="input-group">
                                    <div id="WorkOrderType"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Customer Order</label>
                                <div class="input-group">
                                    <input type="text" id="tCustomerOrder" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input"> Technician</label>
                                <div class="input-group">
                                    <div id="TechnicianAssigned"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Wbs</label>
                                <div class="input-group">
                                    <div id="Wbs"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">IC</label>
                                <div class="input-group">
                                    <div id="IC"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Nota</label>
                                <div class="input-group">
                                    <textarea id="editor">
                                </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</div>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-7">
            <button type="submit" id="BtnWorkOrder" class="btn btn-primary" data-toggle="collapse" href="#collapseOne">New Work Order</button>
            <button type="submit" class="btn btn-warning" id="BtnSaveWorkOrder">Save Changes</button>
            <button type="button" id="BtnClose" class="btn btn-inverse" data-toggle="collapse" href="#collapseOne">Cancel</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="user" style="visibility:hidden">@usr.username</div>
<div id="uid" style="visibility:hidden">@usr.uid</div>
<div hidden="hidden" id='selectionlog'></div>
<div hidden="hidden" id='customercode'></div>
<div hidden="hidden" id='wbscode'></div>
<div hidden="hidden" id='welement'></div>
<div hidden="hidden" id='welement'></div>