﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Scheduler Calendar";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {

    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.culture.it-IT.js"></script>

    @* ------- BUG: https://www.jqwidgets.com/community/topic/edit-dialog-focus-only-on-subject/ -------------*@
    @*<script type="text/javascript" src="~/jqwidgets/jqx-all.js"></script>*@

    <script src="~/jqwidgets/jqxcore.js"></script>
    <script src="~/jqwidgets/jqxbuttons.js"></script>
    <script src="~/jqwidgets/jqxcalendar.js"></script>
    <script src="~/jqwidgets/jqxcheckbox.js"></script>
    <script src="~/jqwidgets/jqxdata.js"></script>
    <script src="~/jqwidgets/jqxdate.js"></script>
    <script src="~/jqwidgets/jqxdatetimeinput.js"></script>
    <script src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script src="~/jqwidgets/jqxscheduler.js"></script>
    <script src="~/jqwidgets/jqxscheduler.api.js"></script>
    <script src="~/jqwidgets/jqxradiobutton.js"></script>
    <script src="~/jqwidgets/jqxscrollbar.js"></script>
    <script src="~/jqwidgets/jqxmenu.js"></script>
    <script src="~/jqwidgets/jqxtooltip.js"></script>
    <script src="~/jqwidgets/jqxwindow.js"></script>
    <script src="~/jqwidgets/jqxlistbox.js"></script>
    <script src="~/jqwidgets/jqxnumberinput.js"></script>
    <script src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxvalidator.js"></script>


    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />

    <script type="text/javascript">
        // DEFAULTS
        var currView = "timelineMonthView"; //"monthView";
        var currOri = "vertical"; //"none";
        var currTech = new Array();
        var currResource = "assignedTo";//"subject";
        var currSubject = "woCustomer"; //"calendar";
        var appointments = new Array();
        //var currDate = new Date();

        $(document).ready(function () {
            /*
            var appointments = new Array();
            var appointment1 = {
                id: "id1",
                description: "",
                location: "",
                subject: "Tecnico 1",
                calendar: "Distributore 1",
                allDay: true,
                start: new Date(2019, 7, 23, 9, 0, 0),
                end: new Date(2019, 7, 23, 16, 0, 0)
            }
            var appointment2 = {
                id: "id2",
                description: "",
                location: "",
                subject: "Tecnico 2",
                calendar: "Distributore 2",
                allDay: true,
                start: new Date(2019, 7, 19, 10, 0, 0),
                end: new Date(2019, 7, 19, 15, 0, 0)
            }
            var appointment3 = {
                id: "id3",
                description: "",
                location: "",
                subject: "Tecnico 3",
                calendar: "Distributore 3",
                allDay: true,
                start: new Date(2019, 7, 21, 11, 0, 0),
                end: new Date(2019, 7, 21, 13, 0, 0)
            }
            var appointment4 = {
                id: "id4",
                description: "",
                location: "",
                subject: "Tecnico 2",
                calendar: "Distributore 3",
                allDay: true,
                start: new Date(2019, 7, 23, 16, 0, 0),
                end: new Date(2019, 7, 23, 18, 0, 0)
            }
            var appointment5 = {
                id: "id5",
                description: "",
                location: "",
                subject: "Tecnico 1",
                calendar: "Distributore 1",
                allDay: true,
                start: new Date(2019, 7, 27, 15, 0, 0),
                end: new Date(2019, 7, 27, 17, 0, 0)
            }
            var appointment6 = {
                id: "id6",
                description: "",
                location: "",
                subject: "Tecnico 4",
                calendar: "Distributore 4",
                allDay: true,
                start: new Date(2019, 7, 26, 14, 0, 0),
                end: new Date(2019, 7, 26, 16, 0, 0)
            }
            appointments.push(appointment1);
            appointments.push(appointment2);
            appointments.push(appointment3);
            appointments.push(appointment4);
            appointments.push(appointment5);
            appointments.push(appointment6);
            */

            $.ajax({
                url: '/api/WebApiGetWorkOrderScheduler',
                type: 'GET',
                success: function (result) {
                    appointments = result;

                    var currDate = new $.jqx.date('todayDate');

                    $("#jqxButtonSubmit").on('click', function () {
                        console.log($('#scheduler').jqxScheduler('changedAppointments'));

                    });

                    // DROPDOWN SWITCH ORIENTATION
                    var sourceOerientation = [
                            "horizontal",
                            "vertical",
                            "none"
                    ];

                    $("#jqxDropDownListOrientation").jqxDropDownList({ source: sourceOerientation, placeHolder: "Select Orientation", autoDropDownHeight: true, width: '60%' });

                    $('#jqxDropDownListOrientation').on('change', function (event) {
                        currOri = event.args.item.value;

                        $('#scheduler').jqxScheduler('destroy');
                        $("#schedulerContainer").append("<div id='scheduler'></div>");

                        var fapps = getFilteredAppointments();

                        populateScheduler(currOri, currView, fapps, currDate, currResource, currSubject);

                    });


                    // DROPDOWN FILTER TECH
                    var sourceTech = new Array();

                    sourceTech = [...new Set(appointments.map(item => item.assignedTo))]; //item.subject

                    sourceTech.unshift("(Select All)");

                    $("#jqxDropDownListTechnician").jqxDropDownList({ checkboxes: true, source: sourceTech, placeHolder: "Filter Technician", autoDropDownHeight: true, width: '60%' });

                    // handle "Select All" item.
                    var handleCheckChange = true;
                    $("#jqxDropDownListTechnician").bind('checkChange', function (event) {
                        if (!handleCheckChange)
                            return;
                        if (event.args.label != '(Select All)') {
                            handleCheckChange = false;
                            $("#jqxDropDownListTechnician").jqxDropDownList('checkIndex', 0);
                            var checkedItems = $("#jqxDropDownListTechnician").jqxDropDownList('getCheckedItems');
                            var items = $("#jqxDropDownListTechnician").jqxDropDownList('getItems');
                            if (checkedItems.length == 1) {
                                $("#jqxDropDownListTechnician").jqxDropDownList('uncheckIndex', 0);
                            }
                            else if (items.length != checkedItems.length) {
                                $("#jqxDropDownListTechnician").jqxDropDownList('indeterminateIndex', 0);
                            }
                            handleCheckChange = true;
                            currTech = [];
                            $.each(checkedItems, function (index) {
                                currTech.push(this.label);
                            });
                        }
                        else {
                            handleCheckChange = false;
                            if (event.args.checked) {
                                $("#jqxDropDownListTechnician").jqxDropDownList('checkAll');
                            }
                            else {
                                $("#jqxDropDownListTechnician").jqxDropDownList('uncheckAll');
                            }
                            currTech = [];
                            handleCheckChange = true;
                        }

                        $('#scheduler').jqxScheduler('destroy');
                        $("#schedulerContainer").append("<div id='scheduler'></div>");

                        var fAppointments = getFilteredAppointments();

                        populateScheduler(currOri, currView, fAppointments, currDate, currResource, currSubject);

                    });

                    // DROPDOWN SWITCH RESOURCEID
                    var sourceResource = [{
                        text: "Distributore",
                        value: "woCustomer-assignedTo" //"calendar-subject"
                    }, {
                        text: "Tecnico",
                        value: "assignedTo-woCustomer"//"subject-calendar"
                    }];
                    // Create a jqxDropDownList
                    $("#jqxDropDownListResource").jqxDropDownList({ source: sourceResource, displayMember: 'text', valueMember: 'value', placeHolder: "Select Resource", autoDropDownHeight: true, width: '60%' });

                    $('#jqxDropDownListResource').on('change', function (event) {
                        currConf = event.args.item.value.split("-");

                        currResource = currConf[0];
                        currSubject = currConf[1];

                        //if (currView == "") view = "monthView";

                        $('#scheduler').jqxScheduler('destroy');
                        $("#schedulerContainer").append("<div id='scheduler'></div>");

                        var fapps = getFilteredAppointments();

                        populateScheduler(currOri, currView, fapps, currDate, currResource, currSubject);

                    });


                    // POPOLAZIONE INIZIALE
                    populateScheduler(currOri, currView, appointments, currDate, currResource, currSubject);
                }
            });

            function getFilteredAppointments() {

                if (currTech.length == 0) return appointments;

                return fAppointments = appointments.filter(function (el) {
                    return currTech.includes(el.assignedTo); //el.subject
                });
            }

            function getSource(filteredAppointments) {
                return {
                    dataType: "array",
                    dataFields: [
                        //{ name: 'id', type: 'string' },
                        //{ name: 'description', type: 'string' },
                        //{ name: 'location', type: 'string' },
                        //{ name: 'subject', type: 'string' },
                        //{ name: 'calendar', type: 'string' },
                        //{ name: 'start', type: 'date' },
                        //{ name: 'end', type: 'date' },
                        { name: 'allDay', type: 'boolean' },

                        //{ name: 'wopk', type: 'string' },  vuoto
                        { name: 'woid', type: 'string' },
                        //{ name: 'woTitle', type: 'string' }, ???
                        { name: 'woState', type: 'string' },
                        { name: 'woElement', type: 'string' },
                        { name: 'woTypeID', type: 'string' },
                        { name: 'woType', type: 'string' },
                        { name: 'wocid', type: 'int' },
                        { name: 'woCustomer', type: 'string' },
                        { name: 'workmanID', type: 'int' },
                        { name: 'assignedTo', type: 'string' },
                        { name: 'wbs', type: 'string' },
                        { name: 'ic', type: 'string' },
                        { name: 'customerOrder', type: 'string' },
                        { name: 'reasonText', type: 'string' },
                        { name: 'scheduledDate', type: 'date', format: "dd-MM-yyyy HH:mm" },
                        { name: 'scheduledDateEnd', type: 'date', format: "dd-MM-yyyy HH:mm" }
                    ],
                    id: 'id',
                    localData: filteredAppointments
                };
            };

            function populateScheduler(selOri, selView, fApps, selDate, selResource, selSubject) {

                $('#scheduler').off('viewChange');
                $('#scheduler').off('dateChange');

                //var fSource = getSource(fApps)
                //var adapter = new $.jqx.dataAdapter(fSource);

                var fSource = {
                    dataType: "array",
                    dataFields: [
                        //{ name: 'id', type: 'string' },
                        //{ name: 'description', type: 'string' },
                        //{ name: 'location', type: 'string' },
                        //{ name: 'subject', type: 'string' },
                        //{ name: 'calendar', type: 'string' },
                        //{ name: 'start', type: 'date' },
                        //{ name: 'end', type: 'date' },
                        { name: 'allDay', type: 'boolean' },

                        //{ name: 'wopk', type: 'string' },  vuoto
                        { name: 'woid', type: 'string' },
                        //{ name: 'woTitle', type: 'string' }, ???
                        { name: 'woState', type: 'string' },
                        { name: 'woElement', type: 'string' },
                        { name: 'woTypeID', type: 'string' },
                        { name: 'woType', type: 'string' },
                        { name: 'wocid', type: 'int' },
                        { name: 'woCustomer', type: 'string' },
                        { name: 'workmanID', type: 'int' },
                        { name: 'assignedTo', type: 'string' },
                        { name: 'wbs', type: 'string' },
                        { name: 'ic', type: 'string' },
                        { name: 'customerOrder', type: 'string' },
                        { name: 'reasonText', type: 'string' },
                        { name: 'scheduledDate', type: 'date', format: "dd-MM-yyyy HH:mm" },
                        { name: 'scheduledDateEnd', type: 'date', format: "dd-MM-yyyy HH:mm" }
                    ],
                    id: 'woid',
                    localData: fApps
                };

                $("#scheduler").jqxScheduler({
                    date: selDate,
                    width: '100%',
                    height: 750,
                    source: new $.jqx.dataAdapter(fSource), //adapter,
                    view: selView,
                    showLegend: true,
                    ready: function () {
                        //$("#scheduler").jqxScheduler('ensureAppointmentVisible', 'id1');
                    },
                    resources:
                    {
                        colorScheme: "scheme05",
                        dataField: selResource,
                        orientation: selOri,
                        source: new $.jqx.dataAdapter(fSource)
                    },
                    appointmentDataFields:
                    {
                        allDay: "allDay",
                        //from: "start",
                        //to: "end",
                        //id: "id",
                        //description: "description",
                        //location: "location",
                        //subject: selSubject,
                        //resourceId: selResource
                        from: "scheduledDate",
                        to: "scheduledDateEnd",
                        id: "woid",
                        description: "reasonText",
                        location: "woCustomer",
                        subject: selSubject, // "assignedTo"
                        resourceId: selResource, // "woType"

                        recurrencePattern: "recurrenceRule",
                        recurrenceException: "recurrenceException",
                        customerfield: "wocid",
                        elementfield: "woElement",
                        workmanfield: "workmanID",
                        worktypefield: "woTypeID",
                        workorderstatusfield: "woState",
                        wbsfield: "wbs",
                        icfield: "ic",
                        cofield: "customerOrder"
                    },
                    views:
                    [
                        //{ type: "dayView", showWeekends: true, timeRuler: { scaleStartHour: 8, scaleEndHour: 18 } },
                        { type: "weekView", showWeekends: true, timeRuler: { scaleStartHour: 0, scaleEndHour: 0 }, showWorkTime: false },
                        { type: "monthView" },
                        { type: 'timelineMonthView' },
                        { type: "agendaView", timeColumnWidth : -1 }
                    ],
                    // called when the dialog is craeted.
                    editDialogCreate: function (dialog, fields, editAppointment) {
                        // hide repeat option
                        fields.repeatContainer.hide();
                        // hide timeZone option
                        fields.timeZoneContainer.hide();

                        fields.statusContainer.hide();

                        fields.resourceLabel.html(selResource);

                        fields.allDayContainer.hide();

                        var WOField = ""
                        var CustomerField = ""
                        var ElementField = ""
                        var CustomerOrderField = ""
                        var WbsField = ""
                        var ICField = ""
                        var WorkManField = ""
                        var WorkOrderStatusField = ""
                        WOField += "<div>"
                        WOField += "<div class='jqx-scheduler-edit-dialog-label'>Work Order</div>"
                        WOField += "<div class='jqx-scheduler-edit-dialog-field'><div id='WorkOrderType'></div></div>"
                        WOField += "</div>"
                        CustomerField += "<div>"
                        CustomerField += "<div class='jqx-scheduler-edit-dialog-label'>Customer</div>"
                        CustomerField += "<div class='jqx-scheduler-edit-dialog-field'><div id='Customer'></div></div>"
                        CustomerField += "</div>"
                        CustomerOrderField += "<div>"
                        CustomerOrderField += "<div class='jqx-scheduler-edit-dialog-label'>C.O. Order</div>"
                        CustomerOrderField += "<div class='jqx-scheduler-edit-dialog-field'><input type='text' id='CustomerOrder'/></div>"
                        CustomerOrderField += "</div>"
                        ElementField += "<div>"
                        ElementField += "<div class='jqx-scheduler-edit-dialog-label'>Element Code</div>"
                        ElementField += "<div class='jqx-scheduler-edit-dialog-field'><div id='Element'></div></div>"
                        ElementField += "</div>"
                        WbsField += "<div>"
                        WbsField += "<div class='jqx-scheduler-edit-dialog-label'>Wbs</div>"
                        WbsField += "<div class='jqx-scheduler-edit-dialog-field'><div id='Wbs'></div></div>"
                        WbsField += "</div>"
                        ICField += "<div>"
                        ICField += "<div class='jqx-scheduler-edit-dialog-label'>IC</div>"
                        ICField += "<div class='jqx-scheduler-edit-dialog-field'><div id='IC'></div></div>"
                        ICField += "</div>"
                        WorkManField += "<div>"
                        WorkManField += "<div class='jqx-scheduler-edit-dialog-label'>Technician</div>"
                        WorkManField += "<div class='jqx-scheduler-edit-dialog-field'><div id='WorkMan'></div></div>"
                        WorkManField += "</div>"
                        WorkOrderStatusField += "<div>"
                        WorkOrderStatusField += "<div class='jqx-scheduler-edit-dialog-label'>Status</div>"
                        WorkOrderStatusField += "<div class='jqx-scheduler-edit-dialog-field'><div id='WOStatus'></div></div>"
                        WorkOrderStatusField += "</div>"
                        fields.toContainer.append(WOField);
                        fields.toContainer.append(CustomerField);
                        fields.toContainer.append(CustomerOrderField);
                        fields.toContainer.append(ElementField);
                        fields.toContainer.append(WbsField);
                        fields.toContainer.append(ICField);
                        fields.toContainer.append(WorkManField);
                        fields.toContainer.append(WorkOrderStatusField);

                        fields.description.jqxValidator({
                            rules: [{ input: fields.description, message: 'Work Order reason is required!', action: 'keyup, blur', rule: 'required' }]
                        });


                        var sourceWorkMan =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'workmanID', type: 'int' },
                                    { name: 'workmanName', type: 'string' },
                                ],
                                id: 'workmanID',
                                url: '/api/webapigetworkman'
                            };
                        var sourceCustomer =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'customerID', type: 'int' },
                                    { name: 'customerDescription', type: 'string' },
                                ],
                                url: '/api/WebApiCustomer'
                            };
                        var sourceWorkOrderType =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'workOrderTypeID', type: 'int' },
                                    { name: 'workOrderType', type: 'string' },
                                ],
                                url: '/api/WebApiGetWorkOrderType'
                            };
                        var sourceWorkOrderStatus =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'workOrderStatusID', type: 'int' },
                                    { name: 'workOrderStatus', type: 'string' },
                                ],
                                url: '/api/WebApiGetWorkOrderStatus'
                            };

                        var daWorkMan = new $.jqx.dataAdapter(sourceWorkMan);
                        var daCustomer = new $.jqx.dataAdapter(sourceCustomer);
                        var daWorkOrderType = new $.jqx.dataAdapter(sourceWorkOrderType);
                        var daWorkOrderStatus = new $.jqx.dataAdapter(sourceWorkOrderStatus);



                        $("#WorkOrderType").jqxDropDownList({
                                placeHolder: 'Please Choose:',
                                selectedIndex: -1,
                                source: daWorkOrderType,
                                displayMember: "workOrderType",
                                valueMember: "workOrderTypeID",
                                width: '99%',
                                height: 25,
                                incrementalSearch: true,
                                theme: 'summer'
                            });
                        $('#Customer').jqxDropDownList({
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daCustomer,
                            displayMember: "customerDescription",
                            valueMember: "customerID",
                            width: '99%',
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });
                        $("#CustomerOrder").jqxInput({ placeHolder: "Enter a Order", height: 25, width: '98%', minLength: 1 });
                        $('#Element').jqxDropDownList({ width: '99%', height: 25 });
                        $('#Wbs').jqxDropDownList({ placeHolder: 'Please Choose:', width: '99%', height: 25 });
                        $('#IC').jqxDropDownList({ placeHolder: 'Please Choose:', width: '99%', height: 25 });
                        $('#WorkMan').jqxDropDownList({
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daWorkMan,
                            displayMember: "workmanName",
                            valueMember: "workmanID",
                            width: '99%',
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });
                        $('#WOStatus').jqxDropDownList({
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daWorkOrderStatus,
                            displayMember: "workOrderStatus",
                            valueMember: "workOrderStatusID",
                            width: '99%',
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });

                        $("#Customer").on('select', function (event) {
                            if (event.args) {
                                var item = event.args.item;
                                if (item) {
                                    $("#customercode").empty();
                                    var valueelement = $("<div></div>");
                                    valueelement.text(item.value);
                                    $("#customercode").append(valueelement);
                                }
                            }
                            var cod = $("#customercode").text();
                            var sourceElementCode =
                                {
                                    datatype: "json",
                                    datafields: [
                                        { name: 'elementCode', type: 'string' },
                                        { name: 'elementName', type: 'string' },
                                        { name: 'customerID', type: 'int' },
                                        { name: 'customerDescription', type: 'string' },
                                        { name: 'elementAddress', type: 'string' },
                                        { name: 'elementStreetNumber', type: 'string' },
                                        { name: 'elementZipCode', type: 'string' },
                                        { name: 'elementCity', type: 'string' },
                                        { name: 'elementPrv', type: 'string' },
                                        { name: 'elementRegion', type: 'string' },
                                        { name: 'elementState', type: 'string' }
                                    ],
                                    url: '/api/WebApiGetPlantbyCustomer/' + cod
                                };
                            var daElement = new $.jqx.dataAdapter(sourceElementCode);
                            var sourceWBS =
                                {
                                    datatype: "json",
                                    datafields: [
                                        { name: 'ic', type: 'string' },
                                        { name: 'wbs', type: 'string' },
                                    ],
                                    url: '/api/ChkAPIIC/' + cod
                                };
                            var daWbs = new $.jqx.dataAdapter(sourceWBS);

                            $("#Wbs").jqxDropDownList(
                                {
                                    placeHolder: 'Please Choose:',
                                    selectedIndex: -1,
                                    source: daWbs,
                                    displayMember: "wbs",
                                    valueMember: "wbs",
                                    height: 25,
                                    incrementalSearch: true,
                                    theme: 'summer'
                                });
                            $('#Element').jqxDropDownList({
                                placeHolder: 'Please Choose:',
                                selectedIndex: -1,
                                source: daElement,
                                displayMember: "elementCode",
                                valueMember: "elementCode",
                                width: '99%',
                                height: 25,
                                incrementalSearch: true,
                                theme: 'summer'
                            });

                            $('#Wbs').on('select', function (event) {
                                var args = event.args;
                                if (args) {
                                    var item = args.item;
                                    $("#wbscode").empty();
                                    var valueelement = $("<div></div>");
                                    valueelement.text(item.value);
                                    $("#wbscode").append(valueelement);
                                    var sourceIC =
                                        {
                                            datatype: "json",
                                            datafields: [
                                                { name: 'ic', type: 'string' },
                                                { name: 'wbs', type: 'string' },
                                            ],
                                            url: '/api/WebApiGetICWBS/' + item.value
                                        };
                                    var daIC = new $.jqx.dataAdapter(sourceIC);
                                    $("#IC").jqxDropDownList(
                                        {
                                            selectedIndex: -1,
                                            source: daIC,
                                            displayMember: "ic",
                                            valueMember: "ic",
                                            height: 25,
                                            theme: 'summer'
                                        });
                                }
                            });
                        });
                        $("#WorkMan").on('select', function (event) {
                            fields.subject.val($("#WorkMan").text() + ' presso ' + $("#Customer").text());
                        });
                    },
                    editDialogOpen: function (dialog, fields, appointment) {
                        if (appointment) {
                            $("#Customer").jqxDropDownList('val', appointment.customerfield);
                            $("#Element").jqxDropDownList('setContent', appointment.elementfield);
                            $("#WorkOrderType").jqxDropDownList('val', appointment.worktypefield);
                            $("#WOStatus").jqxDropDownList('val', appointment.workorderstatusfield);
                            $("#WorkMan").jqxDropDownList('val', appointment.workmanfield);
                            $("#Wbs").jqxDropDownList('val', appointment.wbsfield);
                            $("#IC").jqxDropDownList('val', appointment.icfield);
                            $('#CustomerOrder').val(appointment.cofield);
                        } else {
                            $("#WorkOrderType").jqxDropDownList('selectIndex', -1);
                            $("#Customer").jqxDropDownList('selectIndex', -1);
                            $("#Element").jqxDropDownList('selectIndex', -1);
                            $("#Wbs").jqxDropDownList('selectIndex', -1);
                            $("#IC").jqxDropDownList('selectIndex', -1);
                            $("#WorkMan").jqxDropDownList('selectIndex', -1);
                        };
                    }
                });

                $('#scheduler').on('viewChange', function (event) {
                    currView = event.args.newViewType;
                });
                $("#scheduler").on('dateChange', function (event) {
                    //var args = event.args;
                    //var from = args.from;
                    //var to = args.to;
                    //var date = args.date;
                    currDate = event.args.date;
                });
            }

        });

    </script>
}

<div class="row">
    <div class="col-md-2 m-b-1">
        <div id="jqxDropDownListOrientation"></div>
    </div>
    <div class="col-md-2 m-b-1">
        <div id="jqxDropDownListTechnician"></div>
    </div>
    <div class="col-md-2 m-b-1">
        <div id="jqxDropDownListResource"></div>
    </div>
    <div class="col-md-2">
        <div>
            <input type="button" value="Test" id="jqxButtonSubmit" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="schedulerContainer">
        <div id="scheduler">
        </div>
    </div>
</div>
<div hidden="hidden" id='wbscode'></div>
<div hidden="hidden" id='customercode'></div>
@*<div id="jqxOk" style="color: #eeeeee;">
        Work Order upload succeful!
    </div>
    <div id="jqxNOk" style="color: #eeeeee;">
        Error upload Work Order!
    </div>*@
<div id="user" style="visibility:hidden">@usr.username</div>
<div id="uid" style="visibility:hidden">@usr.uid</div>
