﻿@using EaiwebMVC.Models
@{
    ViewData["Title"] = "Job To Do";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@
    <script src="~/jqwidgets/jqx-all.js"></script>
    @*<script src="~/jqwidgets/jqxtabs.js"></script>
    <script src="~/jqwidgets/jqxfileupload.js"></script>
    <script src="~/jqwidgets/jqxloader.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatatable.js"></script>*@
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <style type="text/css">
        .jqx-grid-column-header,
        .jqx-grid-cell {
            font-size: 11px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'code', type: 'string' },
                        { name: 'cap', type: 'string' },
                        { name: 'co2', type: 'string' },
                        { name: 'h2', type: 'string' },
                        { name: 'n2', type: 'string' },
                        { name: 'zs', type: 'string' },
                        { name: 'rho15', type: 'string' },
                        { name: 'd15', type: 'string' },
                        { name: 'pcs15', type: 'string' },
                        { name: 'rho0', type: 'string' },
                        { name: 'd0', type: 'string' },
                        { name: 'pcs0', type: 'string' },
                        { name: 'validityPeriod', type: 'string' },
                        { name: 'lastUpdate', type: 'date' },
                        { name: 'nextUpdate', type: 'date' },
                        { name: 'enableUpdate', type: 'string' },
                        { name: 'holder', type: 'string' },
                        { name: 'esercizio', type: 'string' },
                        { name: 'assoluto', type: 'string' },
                        { name: 'comune', type: 'string' },
                        { name: 'provincia', type: 'string' }
                    ],
                    url: '/api/WebApiGetRemi'
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#grid").jqxGrid(
                {
                    width: '100%',
                    height: '600px', //'40%',
                    filterable: true,
                    filtermode: 'excel',
                    showfilterrow: true,
                    columnsresize: true,
                    groupable: true,
                    altrows: true,
                    sortable: true,
                    scrollmode: 'deferred',
                    selectionmode: 'multiplecellsadvanced',//'checkbox',
                    enablebrowserselection: true,
                    theme: 'energyblue',
                    source: dataAdapter,
                    showstatusbar: true,
                    renderstatusbar: function (statusbar) {
                        // appends buttons to the status bar.
                        var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                        var exportButton = $("<button>Excel</button>");
                        container.append(exportButton);
                        statusbar.append(container);
                        exportButton.jqxButton({ width: 80, height: 25 });
                        // add new row.
                        exportButton.click(function (event) {
                            $("#grid").jqxGrid('exportdata', 'xls', 'Remi', true);
                        });
                    },
                    columns: [
                        { text: "Code", datafield: "code", width: 70 },
                        { text: "CAP", datafield: "cap" },
                        { text: "CO2", datafield: "co2" },
                        { text: "H2", datafield: "h2" },
                        { text: "N2", datafield: "n2" },
                        { text: "ZS", datafield: "zs" },
                        { text: "RHO15", datafield: "rho15" },
                        { text: "D15", datafield: "d15" },
                        { text: "PCS15", datafield: "pcs15" },
                        { text: "RHO0", datafield: "rho0" },
                        { text: "D0", datafield: "d0" },
                        { text: "PCS0", datafield: "pcs0" },
                        { text: "ValidityPeriod", datafield: "validityPeriod" },
                        { text: "LastUpdate", datafield: "lastUpdate", filtertype: 'date', cellsformat: 'dd/MM/yyyy hh:mm:ss' },
                        { text: "NextUpdate", datafield: "nextUpdate", filtertype: 'date', cellsformat: 'dd/MM/yyyy hh:mm:ss' },
                        { text: "EnableUpdate", datafield: "enableUpdate" },
                        { text: "Holder", datafield: "holder" },
                        { text: "Esercizio", datafield: "esercizio" },
                        { text: "Assoluto", datafield: "assoluto" },
                        { text: "Comune", datafield: "comune" },
                        { text: "Provincia", datafield: "provincia" }
                    ]
                });
        });
    </script>
}
<div class="row">
    <div class="col-lg-6">
        <p>
            <span class="circle bg-danger"><i class="fa fa-cog"></i></span>
            <b>REMI</b> List
        </p>
    </div>
    <div id="grid"></div>
</div>
<div id="user" style="visibility:hidden">@usr.username</div>