﻿@using EaiwebMVC.Models
@{
    ViewData["Title"] = "TUTTI i flussi attivi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">Eaiweb - <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@

    <script src="~/jqwidgets/jqx-all.js"></script>
    <script src="~/jqwidgets/jqxtabs.js"></script>
    <script src="~/jqwidgets/jqxfileupload.js"></script>
    <script src="~/jqwidgets/jqxloader.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatatable.js"></script>
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    
    @*Carico i relativi fogli di stile*@
    <style type="text/css">
        .jqx-grid-column-header,
        .jqx-grid-cell {
            font-size: 11px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqxLoader").jqxLoader({ isModal: true, width: 100, height: 60, imagePosition: 'top' });
            $('#jqxtabs').jqxTabs({  });

            var imagerenderer = function (row, datafield, value) {
                return '<img style="margin-left: 5px;"  height="600" width="800" src=' + value + '>';
            }

            for (m = 0; m < 10; m++) {
                $("#gridImg").jqxGrid('setrowheight', m, 800);
            }

            // prepare the data - MAIN GRID - _slt_queryGetOdlActive
            var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'odl', type: 'string' },
                        { name: 'workOrderType', type: 'string' },
                        { name: 'openDate', type: 'date' },
                        { name: 'executionDate', type: 'date' },
                        { name: 'pdr', type: 'string' },
                        { name: 'snDevice', type: 'string' },
                        { name: 'deviceModel', type: 'string' },
                        { name: 'fw', type: 'string' },
                        { name: 'sendmit', type: 'bool' },
                        { name: 'customerId', type: 'int' },
                        { name: 'networkId', type: 'int' },
                        { name: 'customerName', type: 'string' },
                        { name: 'network', type: 'string' },
                        { name: 'plantName', type: 'string' },
                        { name: 'address', type: 'string' },
                        { name: 'city', type: 'string' },
                        { name: 'province', type: 'string' },
                        { name: 'zipCode', type: 'string' },
                        { name: 'note', type: 'string' },
                        { name: 'workerMan', type: 'string' },
                        { name: 'stato', type: 'int' },
                        { name: 'sostituzione', type: 'string' },
                        { name: 'isThereVerification', type: 'string' },
                        { name: 'verificationResult', type: 'string' },
                        { name: 'reportName', type: 'string' },
                        { name: 'typeOdlId', type: 'int' }
                    ],
                    url: '/api/WebApiGetWOListA' //_slt_queryGetOdlActive
                };

            var dataAdapter = new $.jqx.dataAdapter(source);


            $("#grid").jqxGrid(
                {
                    width: '100%',
                    height: '40%',
                    filterable: true,
                    filtermode: 'excel',
                    showfilterrow: true,
                    columnsresize: true,
                    groupable: true,
                    altrows: true,
                    sortable: true,
                    scrollmode: 'deferred',
                    selectionmode: 'multiplecellsadvanced',//'checkbox',
                    enablebrowserselection: true,
                    theme: 'energyblue',
                    source: dataAdapter,
                    showstatusbar: true,
                    renderstatusbar: function (statusbar) {
                        // appends buttons to the status bar.
                        var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                        var exportButton = $("<button>Excel</button>");
                        var closeButton = $("<button>Close</button>");
                        container.append(exportButton);
                        container.append(closeButton);
                        statusbar.append(container);
                        exportButton.jqxButton({ width: 80, height: 25 });
                        closeButton.jqxButton({ width: 80, height: 25 });
                        // add new row.
                        exportButton.click(function (event) {
                            $("#grid").jqxGrid('exportdata', 'xls', 'jqxGrid', true);
                        });
                    },
                    columns: [
                        { text: "Odl", datafield: "odl", width: 50 },
                        { text: "Tipo Odl", datafield: "workOrderType", width: 100 },
                        { text: "TypeOdlId", datafield: "typeOdlId" },
                        { text: "Data Apertura", datafield: "openDate", filtertype: 'range', cellsformat: 'dd/MM/yyyy', width: '6%' },
                        { text: "Data Esecuzione:", datafield: "executionDate", filtertype: 'range', cellsformat: 'dd/MM/yyyy', width: '6%' },
                        { text: "Pdr", datafield: "pdr", width: '8%' },
                        { text: "Sn", datafield: "snDevice", width: '8%' },
                        { text: "Modello", datafield: "deviceModel" },
                        { text: "Sendmit", datafield: "sendmit", hidden: true },
                        { text: "CustomerId", datafield: "customerId", hidden: true },
                        { text: "NetworkId", datafield: "networkId", hidden: true },
                        { text: "Distributore", datafield: "customerName" },
                        { text: "Rete", datafield: "network" },
                        { text: "Nome Impianto", datafield: "plantName" },
                        { text: "Impianto", datafield: "address" },
                        { text: "Città", datafield: "city" },
                        { text: "Prov.", datafield: "province", width: 30 },
                        { text: "CAP", datafield: "zipCode" },
                        { text: "Nota", datafield: "note", width: '15%' },
                        { text: "Tecnico", datafield: "workerMan", width: '8%' },
                        { text: "Stato", datafield: "stato" },
                        { text: "Sost.", datafield: "sostituzione" },
                        { text: "VP", datafield: "isThereVerification" },
                        { text: "Esito", datafield: "verificationResult" },
                        { text: "reportName", datafield: "reportName", hidden: true },
                        {
                            text: 'View', datafield: 'View', width: 60, columntype: 'button', cellsrenderer: function () {
                                return "View";
                            }, buttonclick: function (row) {
                                // open the popup window when the user clicks a button.
                                //window.open('Report', '_parent');
                                $('#report').show();
                                $('#gridImg').show();
                                $('#uploadImg').show();
                                $('#gridNote').show();
                                var odl = $('#grid').jqxGrid('getcellvalue', row, 'odl');
                                var pdr = $('#grid').jqxGrid('getcellvalue', row, 'pdr');
                                var report = $('#grid').jqxGrid('getcellvalue', row, 'reportName');
                                var sourceNota =
                                    {
                                        datatype: "json",
                                        datafields: [
                                            { name: 'woid', type: 'int' },
                                            { name: 'timestamp', type: 'datetime' },
                                            { name: 'activity', type: 'string' },
                                            { name: 'solution', type: 'string' }
                                        ],
                                        url: '/api/WebApiGetWorkOrderDetails/' + odl
                                    };

                                var ImgNota = new $.jqx.dataAdapter(sourceNota);
                                var sourceImg =
                                    {
                                        datatype: "json",
                                        datafields: [
                                            { name: 'odl', type: 'int' },
                                            { name: 'pdr', type: 'string' },
                                            { name: 'name', type: 'string' },
                                            { name: 'img', type: 'string' },
                                            { name: 'path', type: 'string' },
                                            { name: 'vbStop', type: 'string' },
                                            { name: 'vmStop', type: 'string' },
                                            { name: 'ucStop', type: 'string' },
                                            { name: 'vbRestart', type: 'string' },
                                            { name: 'vmRestart', type: 'string' },
                                            { name: 'ucRestart', type: 'string' },
                                            { name: 'photoType', type: 'string' }
                                        ],
                                        url: '/api/WebApiGetImgWOList/' + odl
                                    };

                                var ImgDa = new $.jqx.dataAdapter(sourceImg);

                                $("#gridImg").jqxDataTable(
                                    {
                                        width: '100%',
                                        sortable: true,
                                        pageable: true,
                                        pageSize: 4,
                                        pagerButtonsCount: 5,
                                        editable: true,
                                        selectionMode: 'singleCell',
                                        source: ImgDa,
                                        columns: [
                                            { text: "img", datafield: "img", width: 800, cellsrenderer: imagerenderer },
                                            {
                                                text: 'Name', align: 'center', dataField: 'name',
                                                // row - row's index.
                                                // column - column's data field.
                                                // value - cell's value.
                                                // rowData - rendered row's object.
                                                cellsRenderer: function (row, column, value, rowData) {
                                                    var container = '<div style="width: 100%; height: 100%;">'
                                                    var leftcolumn = '<div style="float: left; width: 50%;">';
                                                    //var rightcolumn = '<div style="float: left; width: 50%;">';

                                                    var name = "<div style='margin: 5px;'>" + rowData.name + "</div>";
                                                    //var vbStop = "<div style='margin: 10px;'><b>Last Name:</b> " + rowData.vbStop + "</div>";
                                                    //var vmStop = "<div style='margin: 10px;'><b>Title:</b> " + rowData.vmStop + "</div>";
                                                    // var ucStop = "<div style='margin: 10px;'><b>Address:</b> " + rowData.ucStop + "</div>";

                                                    leftcolumn += name;
                                                    //leftcolumn += vbStop;
                                                    //leftcolumn += vmStop;
                                                    // leftcolumn += address;
                                                    leftcolumn += "</div>";
                                                    //var ucStop = "<div style='margin: 10px;'><b>Postal Code:</b> " + rowData.ucStop + "</div>";
                                                    //var vbRestart = "<div style='margin: 10px;'><b>City:</b> " + rowData.vbRestart + "</div>";
                                                    //var vmRestart = "<div style='margin: 10px;'><b>Phone:</b> " + rowData.vmRestart + "</div>";
                                                    //var ucRestart = "<div style='margin: 10px;'><b>Hire Date:</b> " + rowData.ucRestart + "</div>";
                                                    //rightcolumn += ucStop;
                                                    //rightcolumn += vbRestart;
                                                    //rightcolumn += vmRestart;
                                                    //rightcolumn += ucRestart;
                                                    //rightcolumn += "</div>";
                                                    container += leftcolumn;
                                                    //container += rightcolumn;
                                                    container += "</div>";
                                                    return container;
                                                }
                                            },
                                            { text: "Type", datafield: "photoType", align: 'center', cellalign: 'center', width: 100 },
                                            {
                                                text: 'Details', align: 'center', dataField: 'vbStop',
                                                cellsRenderer: function (row, column, value, rowData) {
                                                    var container = '<div style="width: 100%; height: 100%;">'
                                                    var leftcolumn = '<div style="float: left; width: 50%;">';
                                                    var rightcolumn = '<div style="float: left; width: 50%;">';

                                                    var vbStop = "<div style='margin: 10px;'><b>vbStop:</b> " + rowData.vbStop + "</div>";
                                                    var vmStop = "<div style='margin: 10px;'><b>vmStop:</b> " + rowData.vmStop + "</div>";
                                                    var ucStop = "<div style='margin: 10px;'><b>ucStop:</b> " + rowData.ucStop + "</div>";

                                                    leftcolumn += vbStop;
                                                    leftcolumn += vmStop;
                                                    leftcolumn += ucStop;
                                                    leftcolumn += "</div>";
                                                    var vbRestart = "<div style='margin: 10px;'><b>vbRestart:</b> " + rowData.vbRestart + "</div>";
                                                    var vmRestart = "<div style='margin: 10px;'><b>vmRestart:</b> " + rowData.vmRestart + "</div>";
                                                    var ucRestart = "<div style='margin: 10px;'><b>ucRestart:</b> " + rowData.ucRestart + "</div>";
                                                    rightcolumn += vbRestart;
                                                    rightcolumn += vmRestart;
                                                    rightcolumn += ucRestart;
                                                    rightcolumn += "</div>";
                                                    container += leftcolumn;
                                                    container += rightcolumn;
                                                    container += "</div>";
                                                    return container;

                                                }
                                            }
                                        ]
                                    });
                                $("#gridNote").jqxGrid(
                                    {
                                        width: '100%',
                                        autorowheight: true,
                                        autoheight: true,
                                        filterable: false,
                                        columnsresize: true,
                                        groupable: false,
                                        altrows: true,
                                        sortable: true,
                                        scrollmode: 'deferred',
                                        enablehover: true,
                                        theme: 'energyblue',
                                        source: ImgNota,
                                        columns: [
                                            { text: "Odl", datafield: "woid" },
                                            { text: "timestamp", datafield: "timestamp" },
                                            { text: "solution", datafield: "solution" },
                                            { text: "activity", datafield: "activity" }
                                        ]
                                    });
                                $('#report').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2frsEmployee%2f' + report + '&ID_MAN=' + odl + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');
                                $('#reportRDL').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2fEnrollmentProd%2fRDL&IdOdl=' + odl + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');

                            }
                        },
                        {
                            text: 'Close', datafield: 'Close', width: 60, columntype: 'button', cellsrenderer: function () {
                              
                                return "Close";
                            }, buttonclick: function (row) {
                                var idodl = $('#grid').jqxGrid('getcellvalue', row, 'typeOdlId');
                                var dExec = $('#grid').jqxGrid('getcellvalue', row, 'executionDate');

                                if (idodl == 8) {
                                    window.alert("VIETATO DA RT");
                                }
                                else {
                                    if (!dExec) {
                                        window.alert("ATTIVITA' NON ANCORA ESEGUITA");
                                    }
                                    else {

                                        $('#jqxLoader').jqxLoader('open');
                                        // open the popup window when the user clicks a button.
                                        //window.open('Report', '_parent');

                                        var odl = $('#grid').jqxGrid('getcellvalue', row, 'odl');
                                        var pdr = $('#grid').jqxGrid('getcellvalue', row, 'pdr');
                                        var sn = $('#grid').jqxGrid('getcellvalue', row, 'snDevice');
                                        var customerId = $('#grid').jqxGrid('getcellvalue', row, 'customerId');
                                        var networkId = $('#grid').jqxGrid('getcellvalue', row, 'networkId');
                                        var report = $('#grid').jqxGrid('getcellvalue', row, 'reportName');
                                        var sendmit = $('#grid').jqxGrid('getcellvalue', row, 'sendmit');
                                        var model = $('#grid').jqxGrid('getcellvalue', row, 'deviceModel');
                                        var sost = $('#grid').jqxGrid('getcellvalue', row, 'sostituzione');
                                        var wot = $('#grid').jqxGrid('getcellvalue', row, 'workOrderType');
                                        var currentdate = new Date();

                                        var obj = {
                                            "WOCode": pdr,
                                            "WOID": odl,
                                            "SnDevice": sn,
                                            "CustomerId": customerId,
                                            "NetworkId": networkId,
                                            "ReportName": report,
                                            "sendmit": sendmit,
                                            "Model": model,
                                            "Sost": sost,
                                            "Wot": wot
                                        };
                                        $.ajax({
                                            type: 'POST',
                                            url: '/api/FileManagerApi',//'/api/WebApiGetWOList',
                                            data: JSON.stringify(obj),
                                            contentType: 'application/json; charset=utf-8',
                                            dataType: 'json',
                                            success: function () {
                                                $('#jqxLoader').jqxLoader('close');
                                                $("#jqxOk").jqxNotification({
                                                    width: "auto", position: "bottom-right",
                                                    opacity: 0.9, autoOpen: true, autoClose: false, template: "success"
                                                });

                                                $("#grid").jqxGrid('updatebounddata', 'data');

                                                var sortinformation = $('#grid').jqxGrid('getsortinformation');
                                                var sortcolumn = sortinformation.sortcolumn;
                                                var sortdirection = sortinformation.sortdirection;

                                                var isUpdated = false;

                                                if (sortcolumn != undefined || sortcolumn != null) {
                                                    isUpdated = true;
                                                }
                                                //$("#grid").jqxGrid('updatebounddata', 'data'); //Passing "cells" will refresh only the cells values when the new rows count is equal to the previous rows count
                                                if (isUpdated) {
                                                    if (sortdirection['ascending']) {
                                                        $("#grid").off('bindingcomplete');
                                                        $("#grid").on('bindingcomplete', function () {
                                                            $('#grid').jqxGrid('sortby', sortcolumn, 'asc');
                                                        });
                                                    
                                                    } else {
                                                        $("#grid").off('bindingcomplete');
                                                        $("#grid").on('bindingcomplete', function () {
                                                            $('#grid').jqxGrid('sortby', sortcolumn, 'des');
                                                        });
                                                    
                                                    }
                                                }
                                                $('#report').hide();
                                                $('#gridImg').hide();
                                                $('#uploadImg').hide();
                                                $('#gridNote').hide();
                                            },
                                            error: function (req, err) {
                                                $('#jqxLoader').jqxLoader('close');

                                                // TODO: info errore
                                                //$("#jqxNOk").empty();
                                                //var welem = $("<div></div>");
                                                //welem.text(err);
                                                //$("#jqxNOk").append(welem);

                                                $("#jqxNOk").jqxNotification({
                                                    width: "auto", position: "bottom-right",
                                                    opacity: 0.9, autoOpen: true, autoClose: false, template: "error"
                                                });
                                            }
                                        })
                                    }
                                }
                            }

                        }
                    ]
                });
        });
    </script>
}
<div class="row">
    <div class="col-lg-6">
        <p>
            <span class="circle bg-danger"><i class="fa fa-check-circle"></i></span>
            <b>To Do</b> List
        </p>
    </div>
    <div id="jqxLoader">
    </div>
    <div id="grid"></div>
    <div id="jqxtabs">
        <ul style='margin-left: 20px;'>
            <li>MIT</li>
            <li>RDL</li>
            <li>Photo</li>
            <li>Upload Photo</li>
            <li>Note</li>
        </ul>
        <div>
            <div id="report"></div>
        </div>
        <div>
            <div id="reportRDL"></div>
        </div>
        <div>
            <div id="gridImg">
            </div>
        </div>
        <div>
            <div id="uploadImg" style="height:350px">
                <jqx-file-upload height="200" width="300" multiple-files-upload="true" upload-url="@Url.Action("UploadFile", "TagHelpers")" , file-input-name="fileToUpload"></jqx-file-upload>
            </div>
        </div>
        <div>
            <div id="gridNote">
            </div>
        </div>
    </div>
</div>
<div id="jqxOk" style="color: #eeeeee;">
    Work Order complete succefully!
</div>
<div id="jqxNOk" style="color: #eeeeee;">
    Error complete Work Order!
</div>
<div id="user" style="visibility:hidden">@usr.username</div>