﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Work Order Manager";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">
    EaiwebMVC
    <small><small>@ViewData["Title"]</small></small>
</h1>


@section scripts {
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcolorpicker.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxeditor.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
    <script src="~/jqwidgets/jqx-all.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />

    <script type="text/javascript">
        $(document).ready(function() {
            // prepare the data

            var sourceCustomer =
            {
                datatype: "json",
                datafields: [
                    { name: 'customerID', type: 'int' },
                    { name: 'customerDescription', type: 'string' }
                ],
                url: '/api/WebApiCustomer'
            };

            var daCustomer = new $.jqx.dataAdapter(sourceCustomer);
            $("#Customer").jqxInput({
                source: daCustomer,
                displayMember: "customerDescription",
                valueMember: "customerID",
                height: 25
            });
            $("#Customer").on('select',
                function(event) {
                    if (event.args) {
                        var item = event.args.item;
                        if (item) {
                            $("#customercode").empty();
                            var valueelement = $("<div></div>");
                            valueelement.text(item.value);
                            $("#customercode").append(valueelement);
                        }
                    }
                    var cod = $("#customercode").text();

                    var sourceWbs =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'ic', type: 'string' },
                            { name: 'wbs', type: 'string' }
                        ],
                        url: '/api/ChkAPIIC/' + cod
                    };
                    var daWbs = new $.jqx.dataAdapter(sourceWbs, { autoBind: true });

                    $("#Wbs").jqxDropDownList(
                        {
                            placeHolder: 'Please Choose:',
                            selectedIndex: -1,
                            source: daWbs,
                            displayMember: "wbs",
                            valueMember: "wbs",
                            height: 25,
                            incrementalSearch: true,
                            theme: 'summer'
                        });

                    $('#Wbs').on('select',
                        function(event) {
                            var args = event.args;
                            var item = $('#Wbs').jqxDropDownList('getItem', args.index);

                            $("#IC").jqxDropDownList({ source: sourceIc });

                            var sourceIc =
                            {
                                datatype: "json",
                                datafields: [
                                    { name: 'ic', type: 'string' },
                                    { name: 'wbs', type: 'string' }
                                ],
                                url: '/api/WebApiGetICWBS/' + item.value
                            };
                            var daIc = new $.jqx.dataAdapter(sourceIc, { autoBind: true });

                            $("#IC").jqxDropDownList(
                                {
                                    selectedIndex: -1,
                                    source: daIc,
                                    displayMember: "ic",
                                    valueMember: "ic",
                                    height: 25,
                                    theme: 'summer'
                                });

                            $('#IC').on('select',
                                function(event) {
                                    var args = event.args;
                                    if (args) {
                                        var item = args.item;
                                        $("#iccode").empty();
                                        var valueelement = $("<div></div>");
                                        valueelement.text(item.value);
                                        $("#iccode").append(valueelement);

                                        var sourceWO =
                                        {
                                            datafields: [
                                                { name: 'woid', type: 'int' },
                                                { name: 'woElement', type: 'string' },
                                                { name: 'wotid', type: 'int' },
                                                { name: 'woType', type: 'string' },
                                                { name: 'wosid', type: 'int' },
                                                { name: 'woStateDescription', type: 'string' },
                                                { name: 'wocid', type: 'int' },
                                                { name: 'woCustomer', type: 'string' },
                                                { name: 'createdBy', type: 'string' },
                                                { name: 'createdDate', type: 'date' },
                                                { name: 'workmanID', type: 'int' },
                                                { name: 'assignedTo', type: 'string' },
                                                { name: 'scheduledDate', type: 'date' },
                                                { name: 'executionDate', type: 'date' },
                                                { name: 'reasonCode', type: 'int' },
                                                { name: 'reasonText', type: 'string' },
                                                { name: 'wbs', type: 'string' },
                                                { name: 'ic', type: 'string' },
                                                { name: 'customerOrder', type: 'string' },
                                                { name: 'hoursTravelling', type: 'string' },
                                                { name: 'hoursWorkman', type: 'string' }
                                            ],
                                            id: 'woid',
                                            datatype: "json",
                                            async: false,
                                            url: '/api/WebApiGetWorkOrder4Invoice/' + item.label
                                        };
                                        var dataAdapter = new $.jqx.dataAdapter(sourceWO);
                                        $("#WoGrid").jqxGrid(
                                            {
                                                width: '100%',
                                                height: 250,
                                                source: dataAdapter,

                                                keyboardnavigation: false,
                                                columns: [
                                                    {
                                                        text: "ID",
                                                        datafield: "woid",
                                                        cellsformat: 'd'
                                                    },
                                                    {
                                                        text: "Element Code:",
                                                        datafield: "woElement"
                                                    },
                                                    {
                                                        text: "Customer:",
                                                        datafield: "woCustomer"
                                                    },
                                                    {
                                                        text: "Data",
                                                        datafield: "executionDate",
                                                        cellsformat: 'dd/MM/yyyy',
                                                        width: '10%'
                                                    },
                                                    {
                                                        text: "Eseguito da:",
                                                        datafield: "assignedTo"
                                                    },
                                                    { text: "Wbs", datafield: "wbs" },
                                                    {
                                                        text: "Descrizione attività",
                                                        datafield: "woType",
                                                    },
                                                    {
                                                        text: "Customer Order",
                                                        datafield: "customerOrder"
                                                    }
                                                ]
                                            });
                                        // Orders Grid
                                        // prepare the data
                                        var dataFields = [
                                            { name: 'woid', type: 'int' },
                                            { name: 'workOrderDetails', type: 'string' },
                                            { name: 'materialsCode', type: 'string' },
                                            { name: 'materialsDescription', type: 'string' },
                                            { name: 'qty', type: 'int' },
                                            { name: 'price', type: 'string' }
                                        ];
                                        var activitySource =
                                        {
                                            datafields: dataFields,
                                            datatype: "json",
                                            url: '/api/WebApiGetWorkOrderdetails',
                                            async: false
                                        };

                                        var dataAdapterRow = new $.jqx.dataAdapter(activitySource);
                                        dataAdapterRow.dataBind();
                                        $("#WoGrid").on('rowselect',
                                            function(event) {
                                                var customerID = event.args.row.woid;
                                                var records = new Array();
                                                var length = dataAdapterRow.records.length;
                                                for (var i = 0; i < length; i++) {
                                                    var record = dataAdapterRow.records[i];
                                                    if (record.woid == customerID) {
                                                        records[records.length] = record;
                                                    }
                                                }
                                                var dataSource = {
                                                    datafields: dataFields,
                                                    localdata: records
                                                }
                                                var adapter = new $.jqx.dataAdapter(dataSource);

                                                // update data source.
                                                $("#RowGrid").jqxGrid({ source: adapter });
                                            });
                                        $("#RowGrid").jqxGrid(
                                            {
                                                width: '100%',
                                                height: 250,
                                                keyboardnavigation: false,
                                                columns: [
                                                    { text: 'WOID', datafield: 'woid', width: 100 },
                                                    {
                                                        text: 'Activity Details',
                                                        datafield: 'workOrderDetails',
                                                        width: 300
                                                    },
                                                    {
                                                        text: 'Materials Code',
                                                        datafield: 'materialsCode',
                                                        width: 150
                                                    },
                                                    {
                                                        text: 'Materials Description',
                                                        datafield: 'materialsDescription',
                                                        width: 300
                                                    },
                                                    {
                                                        text: 'Qty',
                                                        datafield: 'qty',
                                                        width: 50
                                                    },
                                                    {
                                                        text: 'Price',
                                                        datafield: 'price',
                                                        width: 100
                                                    }
                                                ]
                                            });
                                        $("#WoGrid").jqxGrid('selectrow', 0);
                                    }
                                });
                        });
                });
        });
    </script>
}

<div hidden="hidden" id="wbscode"></div>
<div hidden="hidden" id="iccode"></div>
<div hidden="hidden" id="customercode"></div>
<body class='default'>
<form class="form-horizontal" role="form" id="workorderform">
    <fieldset>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <label for="search-input">Customer</label>
                    <div class="input-group">
                        <input id="Customer" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="search-input">Wbs</label>
                    <div class="input-group">
                        <div id="Wbs"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="search-input">IC</label>
                    <div class="input-group">
                        <div id="IC"></div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div id="jqxWidget" style="font-size: 13px; font-family: Verdana; float: left;">
    <h3>
        Customers</h3>
    <div id="WoGrid">
    </div>
    <h3>
        Orders by Customer</h3>
    <div id="RowGrid">
    </div>
</div>
</body>

<div id="user" style="visibility: hidden">@usr.username</div>
<div id="uid" style="visibility: hidden">@usr.uid</div>
