﻿@*@model List<EaiwebMVC.Models.Model_CheckList4PM>*@

@{
    ViewData["Title"] = "Lista check list controlli";
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    <script src="~/jqwidgets/jqx-all.js"></script>
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'checkListID', type: 'int' },
                        { name: 'timestamp', type: 'date' },
                        { name: 'checkedBy', type: 'string' },
                        { name: 'wbs', type: 'string' },
                        { name: 'wbsDescription', type: 'string' },
                        { name: 'projectManager', type: 'string' },
                        { name: 'site', type: 'string' },
                        { name: 'subcontractor', type: 'string' }
                    ],
                    url: '/api/ChkAPIRAS'
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            // initialize jqxGrid
            $("#grid").jqxGrid(
                {
                    width: '100%',
                    filterable: true,
                    columnsresize: true,
                    groupable: true,
                    pageable: true,
                    theme: 'energyblue',
                    source: dataAdapter,
                    autoheight: true,
                    columns: [
                        { text: "ID", datafield: "checkListID", cellsformat: 'd' },
                        { text: "Data", datafield: "timestamp", cellsformat: 'dd/MM/yyyy', width:'10%' },
                        { text: "Controllato da:", datafield: "checkedBy" },
                        { text: "Wbs", datafield: "wbs" },
                        { text: "Descrizione commessa", datafield: "wbsDescription" },
                        { text: "Capocommessa", datafield: "projectManager" },
                        { text: "Cantiere", datafield: "site" },
                        { text: "Sub-appaltatore", datafield: "subcontractor" },
                        {
                            text: 'Edit', datafield: 'Edit', columntype: 'button', cellsrenderer: function () {
                                return "Edit";
                            }, buttonclick: function (row) {
                                // open the popup window when the user clicks a button.
                                //window.open('Report', '_parent');
                                var cid = $('#grid').jqxGrid('getcellvalue', row, 'checkListID');
                                var pm = $('#grid').jqxGrid('getcellvalue', row, 'projectManager');
                                $('#report').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2frsQSEA%2frsCheckListHeader&clhID=' + cid + '&pm=' + pm + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');

                            }
                        }
                    ]
                });
        });
    </script>
}

    <div class="row">
        <div id="grid"></div>
        <div id="report">
        </div>
    </div>
