﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Lista controlli su Area/Settore";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    <script src="~/jqwidgets/jqx-all.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#dataFrom").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });


            $("#dataTo").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });
        });

        $("#jqxButton").on('click', function () {
            var data1 = $("#dataFrom").val();
            var data2 = $("#dataTo").val();
            var user = $("#user").text();
            $('#report').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2frsQSEA%2frsCDAHeader&data1=' + data1 + '&data2=' + data2 + '&user=' + user + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');
        });

    </script>
}
<div class="row">
    <section class="widget">
        <header>
            <div class="widget-controls">
                <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#"><i class="fa fa-refresh"></i></a>
                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class="widget-body">
            <form role="form">
                <fieldset>
                    <legend><strong>Pannello</strong> Ricerca</legend>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="search-input">Data da::</label>
                                <div class="input-group">
                                    <div id='dataFrom'></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Data a:</label>
                                <div class="input-group">
                                    <div id='dataTo'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-7  pull-left">
                            <input type="button" value="Cerca" id="jqxButton" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<br />
<div class="row">
    <div id="report">
    </div>
</div>

<div id="user" style="visibility:hidden">@usr.username</div>
