﻿@{
    ViewData["Title"] = "Automate your Bills";
}

<h1 class="page-title">EaiWEB 4.0 <small><small>@ViewData["Title"]</small></small></h1>
@section scripts {

    <script async defer src="http://maps.google.com/maps/api/js?key=AIzaSyCYbXIcgnBKMvFtr1azwBTnooVnKGropk0&callback=initMap" type="text/javascript"></script>

    <script type="text/javascript">
        function initMap() {

            // Create a new StyledMapType object, passing it an array of styles,
            // and the name to be displayed on the map type control.
            var styledMapType = new google.maps.StyledMapType(
                [
                    {
                        "featureType": "administrative",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#3AA8B8"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 65
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 51
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 30
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#ff9400"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 40
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#ff9400"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "hue": "#ffff00"
                            },
                            {
                                "lightness": -25
                            },
                            {
                                "saturation": -97
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "lightness": -25
                            },
                            {
                                "saturation": -100
                            }
                        ]
                    }
                ],
                { name: 'Styled Map' });

            // Create a map object, and include the MapTypeId to add
            // to the map type control.
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: { lat: 41.902277, lng: 12.4969482 },
                zoom: 5,
                mapTypeControlOptions: {
                    mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                        'styled_map']
                }
            })
            $.ajax({
                url: "/api/WebApiNgActivities",
                type: "Get",
                success: function (json) {
                    for (var i = 0; i < json.length; i++) {
                        var data = json[i],
                            latLng = new google.maps.LatLng(data.lat, data.long);
                        // Creating a marker and putting it on the map
                        var marker = new google.maps.Marker({
                            position: latLng,
                            title: data.plantCode
                        });
                        marker.setMap(map);
                        var infoWindow = new google.maps.InfoWindow();
                        (function (marker, data) {

                            // Attaching a click event to the current marker
                            google.maps.event.addListener(marker, "click", function (e) {
                                infoWindow.setContent("<div class='infoDiv'><b>Pdr:</b> " + data.plantCode + "</br><b>Data Ora:</b> " + data.activityDate + "</br><b>Distributore:</b> " + data.customer + "</br><b>Nome Impianto:</b> " + data.plant + "</br><b>Indirizzo:</b> " + data.plantAddress + "</br><b>Tecnico:</b> " + data.technician + "</br><b>Attività:</b> " + data.typeOdl + "</div>");
                                infoWindow.open(map, marker);
                            });


                        })(marker, data);
                    }
                }
            });



            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('styled_map', styledMapType);
            map.setMapTypeId('styled_map');
        }

    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/WebApiNgActivitiesStat",
                type: "Get",
                success: function (json) {
                    var html = '<div>';
                    html += '<section class="widget bg-transparent">';
                    html += '<header><h5>Daily<span class="fw-semi-bold"> Statistics</span></h5>';
                    html += '<div class="widget-controls widget-controls-hover"><a href= "#" ><i class="glyphicon glyphicon-cog"></i></a >';
                    html += '<a href="#"><i class="fa fa-refresh"></i></a><a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a></div></header >';
                    html += '<div class="widget-body"><p>Status: <strong>Live</strong></p >';
                    html += '<p><span class="circle bg-warning"><i class="fa fa-map-marker"></i></span > ' + json[1].activitiesCount + ' ' + json[1].activitiesDescription + '</p >';

                    for (var i = 0; i < json.length; i++) {
                        html += '<div class="row progress-stats">';
                        html += '<div class="col-md-9">';
                        html += '<h6 class="name m-t-1">' + json[i].activitiesDescription + '</h6>';
                        html += '<div class="bg-white progress-bar">';
                        html += '<progress class="progress progress-primary progress-sm js-progress-animate" value="100" max="100" style="width: ' + json[i].activitiesCount + '%;" data-width="' + json[i].activitiesCount + '%"></progress>';
                        html += '</div></div>';
                        html += '<div class="col-md-3 text-xs-center">';
                        html += '<span class="status rounded rounded-lg bg-body-light">';
                        html += '<small><span></span>' + json[i].activitiesCount + '</small>';
                        html += '</span></div></div>';
                    }
                    html += '<h6 class="fw-semi-bold mt">Map Distributions</h6>';
                    html += '<p>Tracking: <strong>Active</strong></p><p><span class="circle bg-warning"><i class="fa fa-cog"></i></span> 391 elements installed, 84 sets</p>';
                    html += '<div class="input-group mt"><input type="text" class="form-control" placeholder="Search Map">';
                    html += '<span class="input-group-btn"><button type="submit" class="btn btn-default"><i class="fa fa-search text-gray"></i></button></span></div >';
                    html += '</div></section>';
                    html += '</div>';
                    $("#activities").html(html);
                }
            });
        });
    </script>
}
<div class="row">
    <div class="col-lg-4">
        <div id="activities">

        </div>
    </div>
    <div class="col-lg-4">
        <section class="widget">
            <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
            <header>
                <h6>
                    USERBASE GROWTH
                </h6>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="stats-row">
                    <div class="stat-item">
                        <h6 class="name fs-sm">Overall Growth</h6>
                        <p class="value">76.38%</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name fs-sm">Montly</h6>
                        <p class="value">10.38%</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name fs-sm">24h</h6>
                        <p class="value">3.38%</p>
                    </div>
                </div>
                <div class="bg-gray-lighter progress-bar">
                    <progress class="progress progress-xs progress-success" value="100" max="100" style="width: 60%"></progress>
                </div>
                <p>
                    <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                    <span class="fw-semi-bold">17% higher</span>
                    than last month
                </p>
            </div>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h6>
                    TRAFFIC VALUES
                </h6>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="stats-row">
                    <div class="stat-item">
                        <h6 class="name fs-sm">Overall Values</h6>
                        <p class="value">17 567 318</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name fs-sm">Montly</h6>
                        <p class="value">55 120</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name fs-sm">24h</h6>
                        <p class="value">9 695</p>
                    </div>
                </div>
                <div class="bg-gray-lighter progress-bar">
                    <progress class="progress progress-xs progress-danger" value="100" max="100" style="width: 60%"></progress>
                </div>
                <p>
                    <small><span class="circle bg-warning"><i class="fa fa-chevron-down"></i></span></small>
                    <span class="fw-semi-bold">8% lower</span>
                    than last month
                </p>
            </div>
        </section>
    </div>
</div>
<div class="row">
    
    
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h6>
                    RANDOM VALUES
                </h6>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="stats-row">
                    <div class="stat-item">
                        <h6 class="name fs-sm">Overcome T.</h6>
                        <p class="value">104.85%</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name fs-sm">Takeoff Angle</h6>
                        <p class="value">14.29&deg;</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name fs-sm">World Pop.</h6>
                        <p class="value">7,211M</p>
                    </div>
                </div>
                <div class="bg-gray-lighter progress-bar">
                    <progress class="progress progress-primary progress-xs" value="100" max="100" style="width: 60%"></progress>
                </div>
                <p>
                    <small><span class="circle bg-warning"><i class="fa fa-plus"></i></span></small>
                    <span class="fw-semi-bold">8 734 higher</span>
                    than last month
                </p>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h6><span class="label label-danger">New</span> Messages</h6>
                <div class="widget-controls">
                    <a href="#"><i class="fa fa-refresh"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body no-padding">
                <div class="list-group list-group-lg">
                    <a class="list-group-item" href="#">
                        <span class="thumb-sm pull-xs-left mr">
                            <img class="img-circle" src="demo/img/people/a2.jpg" alt="...">
                            <i class="status status-bottom bg-success"></i>
                        </span>
                        <h6 class="no-margin">Chris Gray</h6>
                        <p class="help-block text-ellipsis no-margin">Hey! What's up? So many times since we</p>
                    </a>
                    <a class="list-group-item" href="#">
                        <span class="thumb-sm pull-xs-left mr">
                            <img class="img-circle" src="demo/img/people/a4.jpg" alt="...">
                            <i class="status status-bottom bg-success"></i>
                        </span>
                        <h6 class="no-margin">Jamey Brownlow</h6>
                        <p class="help-block text-ellipsis no-margin">Good news coming tonight. Seems they agreed to proceed</p>
                    </a>
                    <a class="list-group-item" href="#">
                        <span class="thumb-sm pull-xs-left mr">
                            <img class="img-circle" src="demo/img/people/a1.jpg" alt="...">
                            <i class="status status-bottom bg-warning"></i>
                        </span>
                        <h6 class="no-margin">Livia Walsh</h6>
                        <p class="help-block text-ellipsis no-margin">Check my latest email plz!</p>
                    </a>
                    <a class="list-group-item" href="#">
                        <span class="thumb-sm pull-xs-left mr">
                            <img class="img-circle" src="demo/img/people/a5.jpg" alt="...">
                            <i class="status status-bottom bg-danger"></i>
                        </span>
                        <h6 class="no-margin">Jaron Fitzroy</h6>
                        <p class="help-block text-ellipsis no-margin">What about summer break?</p>
                    </a>
                </div>
            </div>
            <footer class="bg-body-light mt">
                <input type="search" class="form-control form-control-sm" placeholder="Search">
            </footer>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h6>
                    Market <span class="fw-semi-bold">Stats</span>
                </h6>
                <div class="widget-controls">
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <h3>$720 Earned</h3>
                <p class="text-muted mb mt-sm">
                    Target <span class="fw-semi-bold">$820</span> day earnings
                    is <span class="fw-semi-bold">96%</span> reached.
                </p>
            </div>
            <div class="widget-table-overflow">
                <table class="table table-striped table-sm">
                    <thead class="no-bd">
                        <tr>
                            <th>
                                <div class="abc-checkbox">
                                    <input id="checkbox210" type="checkbox" data-check-all="">
                                    <label for="checkbox210"></label>
                                </div>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="abc-checkbox">
                                    <input id="checkbox212" type="checkbox">
                                    <label for="checkbox212"></label>
                                </div>
                            </td>
                            <td>HP Core i7</td>
                            <td class="text-xs-right fw-semi-bold">$346.1</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="abc-checkbox">
                                    <input id="checkbox214" type="checkbox">
                                    <label for="checkbox214"></label>
                                </div>
                            </td>
                            <td>Air Pro</td>
                            <td class="text-xs-right fw-semi-bold">$533.1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="widget-body mt-xlg">
                <div id="rickshaw" class="chart-overflow-bottom"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h6>Calendar</h6>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body no-padding">
                <div id="events-calendar" class="bg-primary-light"></div>
                <div class="list-group">
                    <a href="#" class="list-group-item text-ellipsis">
                        <span class="label-pill label-warning pull-xs-right">6:45</span>
                        Weed out the flower bed
                    </a>
                    <a href="#" class="list-group-item text-ellipsis">
                        <span class="label-pill label-success pull-xs-right">9:41</span>
                        Stop world water pollution
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>