﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Lista controlli su Aree/Settori";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    <script src="~/jqwidgets/jqx-all.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dataFrom").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });


            $("#dataTo").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });
        });
      
        $("#jqxButton").on('click', function () {
            var data1 = $("#dataFrom").val();
            var data2 = $("#dataTo").val();
            var user = $("#user").text();

            $('#report').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2frsQSEA%2frsR2Header&data1=' + data1 + '&data2=' + data2 + '&user=' + user + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');
        });

    </script>
}
<div class="row">
    <div class="col-md-2">
        Data da:
    </div>
    <div class="col-md-2">
        Data a:
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div id='dataFrom'></div>
    </div>
    <div class="col-md-2">
        <div id='dataTo'></div>
    </div>
    <div class="col-md-2">
        <div>
            <input type="button" value="Cerca" id='jqxButton' />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div id="report">
    </div>
</div>

<div id="user" style="visibility:hidden">@usr.username</div>