﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Lista controlli su Area/Settore";

}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {
    <script src="~/jqwidgets/jqx-all.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'areaID', type: 'int' },
                        { name: 'area', type: 'string' }
                    ],
                    url: '/api/ChkAPIAreeAll',
                    async: false
                };
            var sourceSector =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'sectorTypeId', type: 'string' },
                        { name: 'sectorType', type: 'string' }
                    ],
                    url: '/api/WebApiSector',
                    async: false
                };
            var sourceWbs =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'wbs', type: 'string' },
                        { name: 'wbsDescription', type: 'string' }
                    ],
                    url: '/api/WebApiWbs',
                    async: false
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            var daSector = new $.jqx.dataAdapter(sourceSector);
            var wbslist = new Array();
            var daWbs = new $.jqx.dataAdapter(sourceWbs);

            // Create a jqxDropDownList

            $("#jqxDDSector").jqxDropDownList(
                {
                    //selectedIndex: 0,
                    source: daSector,
                    displayMember: "sectorType",
                    valueMember: "sectorTypeId",
                    width: 150, height: 25,
                    theme: 'summer'
                });
            $("#jqxDDSector").jqxDropDownList('insertAt', { label: 'Tutto', value: '%' }, 100);

            $("#jqxDropDown").jqxDropDownList(
                {
                    //selectedIndex: 0,
                    source: dataAdapter,
                    displayMember: "area",
                    valueMember: "areaID",
                    width: 150, height: 25,
                    theme: 'summer'
                });
            $("#jqxDropDown").jqxDropDownList('insertAt', { label: 'Tutto', value: '%' }, 100);


            // Create a jqxInput
            $("#jqxWbs").jqxInput({ width: 150, height: 25 });
            $("#jqxWbs").jqxTooltip({ content: 'lascia vuoto per scegliere tutte le Wbs disponibili', position: 'top', name: 'wbsTooltip' });
            //$("#jqxWbs").on('select', function (event) {
            //    if (event.args) {
            //        var item = event.args.item;
            //        if (item) {
            //            $("#selectionlog").empty();
            //            var valueelement = $("<div></div>");
            //            valueelement.text(item.value);
            //            $("#selectionlog").append(valueelement);
            //        }
            //    }
            //});
            $("#jqxWbs").on('change', function (event) {
                if (event.args) {
                    var item = event.args.item;
                    if (item) {
                        $("#selectionlog").empty();
                        var valueelement = $("<div></div>");
                        valueelement.text(item.value);
                        $("#selectionlog").append(valueelement);
                    }
                }
            });

        });
        $(document).ready(function () {
            $("#dataFrom").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });
            $("#dataTo").jqxDateTimeInput({
                width: '150px',
                height: '25px',
                theme: 'metro',
                formatString: "dd/MM/yyyy",
                animationType: 'fade',
                readonly: true
            });
        });
        $(document).ready(function () {
            // Create Push Button.
            $("#jqxButton").jqxButton({ width: '150', height: '25' });
        });

        $("#btnReport").on('click', function () {

            var data1 = $("#dataFrom").val();
            var data2 = $("#dataTo").val();
            var user = $("#user").text();
            var item = $("#jqxDropDown").jqxDropDownList('getSelectedItem');
            var sector = $("#jqxDDSector").jqxDropDownList('getSelectedItem');
            var wbs = $("#selectionlog").text();
            var area = item.label;

            if (wbs === '') {
                wbs = '%';
            }
            if (area === 'Tutto') {
                area = '%';
            }

            var typesector = sector.value;

            $('#report').html('<iframe src="http://vs-report-db/ReportServer/Pages/ReportViewer.aspx?%2frsQSEA%2frsR1DGCDAQSAEHeader&data1=' + data1 + '&data2=' + data2 + '&area=' + area + '&user=' + user + '&typesector=' + typesector + '&wbs=' + wbs + '&rs:Command=Render" frameborder="0" style="height:1280;width:100%" height="1280" width="100%"></iframe>');
        });

    </script>
}
<div hidden="hidden" id="selectionlog"></div>
<div class="row">
    <section class="widget">
        <header>
            <div class="widget-controls">
                <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#"><i class="fa fa-refresh"></i></a>
                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class="widget-body">
            <form role="form">
                <fieldset>
                    <legend><strong>Pannello</strong> Ricerca</legend>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="search-input">Tipologia:</label>
                                <div class="input-group">
                                    <div id='jqxDDSector'></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Area:</label>
                                <div class="input-group">
                                    <div id="jqxDropDown"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Data da:</label>
                                <div class="input-group">
                                    <div id="dataFrom"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Data a:</label>
                                <div class="input-group">
                                    <div id="dataTo"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="search-input">Wbs:</label>
                                <div class="input-group">
                                    <input type="text" id="jqxWbs" />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-7  pull-left">
                            <input type="button" value="Cerca" id="btnReport" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<br />
<div class="row">
    <div id="report">
    </div>
</div>

<div id="user" style="visibility:hidden">@usr.username</div>