﻿
@{
    ViewData["Title"] = "FileUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title id="Description">This demo shows how to render selected files in jqxFileUpload.For uploading files, you should set the "uploadUrl" property to point to a Web Server file that will handle the actual Upload proces.</title>
    <link type="text/css" rel="Stylesheet" href="../../jqwidgets/styles/jqx.base.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    @*
        <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxfileupload.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var imageTypes = ['.gif', '.jpg', '.png'];
            var videoTypes = ['.wmv', '.mov', '.avi', '.divx', '.mpeg', '.mpg', '.m4p'];
            $('#jqxFileUpload').jqxFileUpload({
                width: 300, uploadUrl: 'upload.php', fileInputName: 'fileToUpload', multipleFilesUpload: true, renderFiles: function (fileName) {
                    var stopIndex = fileName.indexOf('.');
                    var name = fileName.slice(0, stopIndex);
                    var extension = fileName.slice(stopIndex);
                    var iconUrl;
                    if (imageTypes.indexOf(extension) !== -1) {
                        iconUrl = '../../images/nav3.png';
                    } else if (videoTypes.indexOf(extension) !== -1) {
                        iconUrl = '../../images/movie.png';
                    } else {
                        iconUrl = '../../images/nav1.png';
                    }
                    return '<div><img src="' + iconUrl + '" style="dislplay: inline; width: 16px; height: 16px; margin-right: 5px;" /><span>' + name + '<strong>' + extension + '</strong></span></div>';
                }
            });
        });
    </script>
</head>
<body>
    <div>
        <h3>Seleziona i file .TXT/.XML dei flussi da caricare</h3>
    </div>
    <div class="jumbotron">
        <p>ATTENZIONE: Non è possibile caricare un flusso già caricato in precedenza se prima questo non viene eliminato. </p>
        <p>ATTENZIONE: Il NOME FILE (compresa l'estensione) può essere al massimo di 50 caratteri.</p>

        <p style="color: red; font-weight: bold;">Inoltre i file .TXT/.XML dei flussi devono essere scritti nel seguente formato:</>
        <p style="font-weight: bold;">
            <font color="brown">CLIENTE</font>_<font color="red">FATTURATORE</font>
            _<font color="blue">TIPO-CONSEGNA</font>_<font color="green">COMMESSA</font>
            _<font color="violet">SERVIZIO</font>_<font color="orange">PROGRESSIVO</font>.ESTENSIONE (.TXT/.XML)
        </p>
        <p style="font-weight: bold;">
            <font color="brown">XXX</font>_<font color="red">YYY</font>_<font color="blue">Z</font>
            _<font color="green">NNNNNNNN</font>_<font color="violet">WWW</font>_<font color="orange">GGGGGGG_GG</font>.TXT
        </p>
        <p style="font-weight: bold;">
            <font color="brown">XXX</font>_<font color="red">YYY</font>_<font color="blue">Z</font>
            _<font color="green">NNNNNNNN</font>_<font color="violet">WWW</font>_<font color="orange">GGGGGGG_GG</font>.XML
        </p>
    </div>

    <div id="jqxFileUpload">
    </div>
</body>

</html>


















@*
        <!DOCTYPE html>
        <html lang="en">

            <body>
                <div>
                    <h3>Seleziona i file .TXT/.XML dei flussi da caricare</h3>
                </div>
                <div class="jumbotron">
                    <p>ATTENZIONE: Non è possibile caricare un flusso già caricato in precedenza se prima questo non viene eliminato. </p>
                    <p>ATTENZIONE: Il NOME FILE (compresa l'estensione) può essere al massimo di 50 caratteri.</p>

                    <p style="color: red; font-weight: bold;">Inoltre i file .TXT/.XML dei flussi devono essere scritti nel seguente formato:</>
                    <p style="font-weight: bold;">
                        <font color="brown">CLIENTE</font>_<font color="red">FATTURATORE</font>
                        _<font color="blue">TIPO-CONSEGNA</font>_<font color="green">COMMESSA</font>
                        _<font color="violet">SERVIZIO</font>_<font color="orange">PROGRESSIVO</font>.ESTENSIONE (.TXT/.XML)
                    </p>
                    <p style="font-weight: bold;">
                        <font color="brown">XXX</font>_<font color="red">YYY</font>_<font color="blue">Z</font>
                        _<font color="green">NNNNNNNN</font>_<font color="violet">WWW</font>_<font color="orange">GGGGGGG_GG</font>.TXT
                    </p>
                    <p style="font-weight: bold;">
                        <font color="brown">XXX</font>_<font color="red">YYY</font>_<font color="blue">Z</font>
                        _<font color="green">NNNNNNNN</font>_<font color="violet">WWW</font>_<font color="orange">GGGGGGG_GG</font>.XML
                    </p>
                </div>
                <div>
                    <form method="post" enctype="multipart/form-data">
               
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>

                </form>


            </div>
        </body>


    </html>

*@