﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Archivio Flussi Terminati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {

    <script type="text/javascript" src="~/jqwidgets/jqx-all.js"></script>

    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />

    @* Inizio dello script JS vero e proprio *@
    <script type="text/javascript">

        $(document).ready(function () {
            //FS_Definisco la sorgente dati
            var sourceFlussi =
            {
                datatype: "json",
                dataFields: [
                    { name: 'idflusso', type: 'string' },
                    { name: 'filetxt', type: 'string' },
                    { name: 'step', type: 'string' },
                    { name: 'datainizio', type: 'date' },
                    { name: 'datafine', type: 'date' },
                    { name: 'stampatore', type: 'string' },
                    { name: 'validazione_num_doc', type: 'bool' }
                ], //    url: '/api/WebApiGetFlussi' // mvc_select_flusso_list
                pagesize: 20,
                url: '/api/WebApiGetFlussiTerminatiStampatore' // mvc_select_flussi_stampatore_attivi
            };

            var dataAdapter = new $.jqx.dataAdapter(sourceFlussi);

            dataAdapter.dataBind(); //FS_Questo serve?

            //Costruisco la tabella vera e propria
            $("#tableFlussiTerminati").jqxGrid(
                {
                    pageable: true,
                    width: '100%',
                    height: '600',
                    source: dataAdapter,
                    sortable: true,
                    enablebrowserselection: true,
                    filterable: true,
                    filtermode: 'excel',
                    altrows: true,
                    theme: 'energyblue',
                    showfilterrow: true,
                    columnsautoresize: true,
                    columnsResize: true,

                    columns: [
                        { dataField: 'idflusso', text: 'Cod. Flusso', width: 300 },
                        { dataField: 'filetxt', text: 'Nome File', width: 500 },
                        { dataField: 'step', text: 'Step', cellsalign: 'center' },
                        { dataField: 'datainizio', text: 'Data inizio', filtertype: 'date', cellsformat: "dd/MM/yyyy HH:mm" },
                        { dataField: 'datafine', text: 'Data fine', filtertype: 'date', cellsformat: "dd/MM/yyyy HH:mm" },
                        { dataField: 'stampatore', text: 'Stampatore' },
                        { dataField: 'validazione_num_doc', text: 'Conferma Spedizione', columntype: 'checkbox', width: 150 }
                    ],

                    //Eventi in cui viene lanciato il resize di tutte le colonne
                    ready: function () {
                        $("#tableFlussiTerminati").jqxGrid({
                            rendered: function (event) {
                                $('#tableFlussiTerminati').jqxGrid('autoresizecolumns', 'all');
                            }
                        });

                        $("#tableFlussiTerminati").on("pagechanged", function (event) {
                            $('#tableFlussiTerminati').jqxGrid('autoresizecolumns', 'all');
                        });

                        $('#tableFlussiTerminati').jqxGrid('autoresizecolumns', 'all');
                    }
                });

            $('#clearfilteringbutton').jqxButton({ height: 25 });
            $("#excelExport").jqxButton();

            $('#clearfilteringbutton').click(function () {
                $("#tableFlussiTerminati").jqxGrid('clearfilters');
            });


            //Gestisco la data di oggi per l'export
            var today = new Date();

            var ss = String(today.getSeconds()).padStart(2, '0');
            var mm = String(today.getMinutes()).padStart(2, '0');
            var hh = String(today.getHours()).padStart(2, '0');
            var dd = String(today.getDate()).padStart(2, '0');
            var M = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + M + dd + '_' + hh + mm + ss;

            $("#excelExport").click(function () {
                $("#tableFlussiTerminati").jqxGrid('exportdata', 'xls', today + '_tuttiFlussiTerminatiExport');
            });

        });

    </script>
}
<body class='default'>
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="circle-o-info"><i class="fa fa-calendar-check-o"></i></span>
                Lista di tutti i Flussi <b>TERMINATI</b>
            </p>
        </div>
    </div>

    <div id="jqxTableData" style="font-size: 13px; font-family: Verdana; " class="row">
        <div style='float: right;'>

            <input type="button" value="Cancella Filtri" id='clearfilteringbutton' />
            <br /> <br />
        </div>

        <div id="tableFlussiTerminati">
        </div>

        <div style='float: right;'>
            <br />
            <input type="button" value="Esporta in Excel" id='excelExport' />
            <br />
        </div>

    </div>

</body>
