﻿@using EaiwebMVC.Models

@{
    ViewData["Title"] = "Caricamento MANUALE Flussi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var usr = (user)ViewData["MyUser"];
}
<h1 class="page-title">EaiwebMVC <small><small>@ViewData["Title"]</small></small></h1>

@section scripts {

    <script type="text/javascript" src="~/jqwidgets/jqx-all.js"></script>

    <link rel="stylesheet" type="text/css" href="~/jqwidgets/styles/jqx.base.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqxFileUpload').jqxFileUpload({ width: 300, uploadUrl: 'imageUpload.php', fileInputName: 'fileToUpload', multipleFilesUpload: true });

        });
    </script>




    @* Inizio dello script JS vero e proprio *@
    <script type="text/javascript">

        $(document).ready(function () {
            //FS_Definisco la sorgente dati
            var sourceFlussi =
            {
                datatype: "json",
                dataFields: [
                    { name: 'idflusso', type: 'string' },
                    { name: 'filetxt', type: 'string' },
                    { name: 'step', type: 'string' },
                    { name: 'datainizio', type: 'date' },
                    { name: 'datafine', type: 'date' },
                    { name: 'stampatore', type: 'string' },
                    { name: 'validazione_num_doc', type: 'bool' }
                ], //    url: '/api/WebApiGetFlussi' // mvc_select_flusso_list
                pagesize: 20,
                url: '/api/WebApiGetFlussiAttiviStampatore' // mvc_select_flussi_stampatore_attivi
            };

            var dataAdapter = new $.jqx.dataAdapter(sourceFlussi);

            dataAdapter.dataBind(); //FS_Questo serve?

            //Costruisco la tabella vera e propria
            $("#tableFlussiAttivi").jqxGrid(
                {
                    pageable: true,
                    width: '100%',
                    height: '600',
                    source: dataAdapter,
                    sortable: true,
                    enablebrowserselection: true,
                    filterable: true,
                    filtermode: 'excel',
                    altrows: true,
                    theme: 'energyblue',
                    showfilterrow: true,
                    columnsautoresize: true,
                    columnsResize: true,

                    columns: [
                        { dataField: 'idflusso', text: 'Cod. Flusso', width: 300 },
                        { dataField: 'filetxt', text: 'Nome File', width: 500 },
                        { dataField: 'step', text: 'Step', cellsalign: 'center' },
                        { dataField: 'datainizio', text: 'Data inizio', filtertype: 'date', cellsformat: "dd/MM/yyyy HH:mm" },
                        { dataField: 'datafine', text: 'Data fine', filtertype: 'date', cellsformat: "dd/MM/yyyy HH:mm" },
                        { dataField: 'stampatore', text: 'Stampatore' },
                        { dataField: 'validazione_num_doc', text: 'Conferma Spedizione', columntype: 'checkbox', width: 150 }
                    ],

                    //Eventi in cui viene lanciato il resize di tutte le colonne
                    ready: function () {
                        $("#tableSrcRecords").jqxGrid({
                            rendered: function (event) {
                                $('#tableSrcRecords').jqxGrid('autoresizecolumns', 'all');
                            }
                        });

                        $("#tableSrcRecords").on("pagechanged", function (event) {
                            $('#tableSrcRecords').jqxGrid('autoresizecolumns', 'all');
                        });

                        $('#tableSrcRecords').jqxGrid('autoresizecolumns', 'all');

                         
                    }
                });

            $('#clearfilteringbutton').jqxButton({ height: 25 });
            $("#excelExport").jqxButton();

            $('#clearfilteringbutton').click(function () {
                $("#tableFlussiAttivi").jqxGrid('clearfilters');
            });
            var source = [
                    "Affogato",
                    "Americano",
                    "Bicerin",
                    "Breve",
                    "Café Bombón",
                    "Café au lait",
                    "Caffé Corretto",
                    "Café Crema",
                    "Caffé Latte",
                    "Caffé macchiato",
                    "Café mélange",
                    "Coffee milk",
                    "Cafe mocha",
                    "Cappuccino",
                    "Carajillo",
                    "Cortado",
                    "Cuban espresso",
                    "Espresso",
                    "Eiskaffee",
                    "The Flat White",
                    "Frappuccino",
                    "Galao",
                    "Greek frappé coffee",
                    "Iced Coffee﻿",
                    "Indian filter coffee",
                    "Instant coffee",
                    "Irish coffee",
                    "Liqueur coffee"
		        ];

             $("#listbox").jqxListBox({width: 300, source: source, checkboxes: true, height: 350});
                          // Check several items.
                          $("#listbox").jqxListBox('checkIndex', 0);
                          $("#listbox").jqxListBox('checkIndex', 1);
                          $("#listbox").jqxListBox('checkIndex', 2);
                          $("#listbox").jqxListBox('checkIndex', 5);


            //Gestisco la data di oggi per l'export
            var today = new Date();

            var ss = String(today.getSeconds()).padStart(2, '0');
            var mm = String(today.getMinutes()).padStart(2, '0');
            var hh = String(today.getHours()).padStart(2, '0');
            var dd = String(today.getDate()).padStart(2, '0');
            var M = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + M + dd + '_' + hh + mm + ss;

            $("#excelExport").click(function () {
                $("#tableFlussiAttivi").jqxGrid('exportdata', 'xls', today + '_tuttiFlussiAttiviExport');
            });

        });

    </script>
}
<body class='default'>
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="circle-o-white"><i class="fa-han" fa fa-hand-stop-o"></i></span>
                Inserimento <b>MANUALE</b> flussi di stampa
                <br />

                <div id="jqxListBox"></div>
            </p>
        </div>
    </div>

    <div id="manualInsertFields" style="font-size: 13px; font-family: Verdana; " class="row">
        <div style='float: none;'>
            <br />
            Carica file CSV o ZIP
            <br />
            <div id="jqxFileUpload">
            </div>
            <br />
            <br />
            <b>Nome File*</b> <i>(senza progressivo finale ed estensione - MAX 46 CAR.)</i>  <input type="text" id="inputFileName" />
            <br />
            <br />
            <b>ID Flusso*</b> <input type="text" id="inputIDFlusso" />
            <br />
            <br />
            <b>Società*</b> <input type="text" id="inputSocieta" />
            <br />
            <br />
            Fatturatore di riferimento <div id="comboboxFatturatore"></div>
            <br />
            <br />
            <b>Data Emissione*</b> <div id='dateInput'></div>
            <br />
            <br />
            <b>N° Fatture*</b> <input type="text" id="inputNumFatture" />
            <br />
            <br />
            <b>N° Pagine*</b> <input type="text" id="inputNumPagine" />
            <br />
            <br />
            <b>N° Bollettini*</b> <input type="text" id="inputNumBollettini" />
            <br />
            <br />
            <b>N° Pagine Aggiuntive*</b> <input type="text" id="inputNumPagineAggiuntive" />
            <br />
            <br />
            <b>N° Allegati*</b> <input type="text" id="inputNumAllegati" />
            <br />
            <br />
            <b>Stampatore*</b> <div id="comboboxStampatore"></div>
            <br />
            <br />
            <b>Tipo Consegna*</b> <div id="comboboxConsegna"></div>
            <br />
            <br />
            <b>Colore*</b> <div id="comboboxColore"></div>
            <br />
            <br />
            Note <div id="comboboxNote"></div>
            <br />
            <br />
        </div>

    </div>

</body>
0